@model AdoptifySystem.Volunteer_Hours

@{
    ViewBag.Title = "Create";
}

<div id="main">
    <br />
    <div class="" style="text-align:center;padding-left:120px">
        <div class="col-sm-10" style='background-color: #2ba6cb'>
            <h1 style="color:white">Add Volunteer Hours</h1>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Vol_workDate, htmlAttributes: new { @class = "control-label col-md-2", @Title = "Enter Volunteer Work Date" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Vol_workDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Volunteer Work Date" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.Vol_workDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Vol_Start_Time, htmlAttributes: new { @class = "control-label col-md-2", @Title = "Enter Volunteer Start Time" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Vol_Start_Time, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Volunteer Start Time" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.Vol_Start_Time, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Vol_End_Time, htmlAttributes: new { @class = "control-label col-md-2", @Title = "Enter Volunteer End Time" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Vol_End_Time, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Volunteer End Time" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.Vol_End_Time, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Vol_ID, "Volunteer", htmlAttributes: new { @class = "control-label col-md-2", @Title = "Select Volunteer" })
                <div class="col-md-10">
                    @Html.DropDownList("Vol_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Vol_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Vol_WorkType_ID, "Volunteer Work Type", htmlAttributes: new { @class = "control-label col-md-2", @Title = "Select Volunteer Work Type" })
                <div class="col-md-10">
                    @Html.DropDownList("Vol_WorkType_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Vol_WorkType_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br />
                    @Html.ActionLink("Back to List", "Index", "Volunteer_Hours", new { @class = "btn btn-primary", style = "float:right", @Title = "Click to go Back" })
                    <input type="submit" value="Save" class="btn btn-success" style="float:right" title="Click to Save Volunteer Hours" />
                    <br />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}