@model AdoptifySystem.Models.Volunteer_Hours

@{
    ViewBag.Title = "Details";
}

<h2>Volunteer Hours Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vol_workDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vol_workDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vol_Start_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vol_Start_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vol_End_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vol_End_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer.Vol_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer.Vol_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer_Work_Type.Vol_WorkType_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer_Work_Type.Vol_WorkType_Name)
        </dd>

    </dl>
</div>
<p>
    <br />
    @Html.ActionLink("Update", "Edit", "Volunteer_Hours", new { id = Model.Vol_Hours_ID }, new { @class = "btn btn-success", style = "float:right", @Title = "Click to Update Volunteer Hours" })
    @Html.ActionLink("Back to List", "Index", "Volunteer_Hours", new { @class = "btn btn-dark", style = "float:right", @Title = "Click to go Back" })
    <br />
</p>
