@model AdoptifySystem.Veterinarian

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWS2RFX5WP2nl4kXOGpCZwjHsYFEQp5iA&=false&libraries=places"></script>
    <script type="text/javascript">

        google.maps.event.addDomListener(window, 'load', function () {
            var options = {
                types: ['(regions)'],
                componentRestrictions: { country: "za" }
            };

            var input = document.getElementById('Vet_Address');
            var places = new google.maps.places.Autocomplete(input, options);


        });
    </script>
   
}


<div id="main">
    <div class="" style="text-align:center;padding-left:120px">
        <div class="col-sm-10" style='background-color: #2ba6cb'>
            <h1 style="color:white">Create Veterinarian</h1>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Veterinarian</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                <label title="Enter Vet Name">Name:</label><br />

                @Html.EditorFor(model => model.Vet_Name, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Enter Vet Name", maxlength="150" } })
                @Html.ValidationMessageFor(model => model.Vet_Name, "", new { @class = "text-danger" })

            </div>

            <div>
                <label title="Enter Vet Email">Email:</label> <br />

                @Html.EditorFor(model => model.Vet_Emial, new { htmlAttributes = new { @class = "form-control", @type = "email", required = "required", placeholder = "Enter Vet Name", maxlength="254" } })
                @Html.ValidationMessageFor(model => model.Vet_Emial, "", new { @class = "text-danger" })

            </div>

            <div>
                <lable title="Enter Vet Tel">Tel:</lable><br />
                @Html.EditorFor(model => model.Vet_Tel, new { htmlAttributes = new { @class = "form-control", @type = "tel", required = "required", placeholder = "Enter Vet Tel", maxlength="15" } })
                @Html.ValidationMessageFor(model => model.Vet_Tel, "", new { @class = "text-danger" })

            </div>

            <div>
                <lable title="Enter Vet Address">Address:</lable><br />

                @Html.EditorFor(model => model.Vet_Address, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Enter Vet Address" , maxlength="300"} })
                @Html.ValidationMessageFor(model => model.Vet_Address, "", new { @class = "text-danger" })

            </div><br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Back", "Index", "Veterinarians", null, new { @class = "btn btn-primary glyphicon glyphicon-circle-arrow-left", @Title = "Click to go Back" })
                    @Html.ActionLink("Refresh", "Create", "Veterinarians", null, new { @class = "btn btn-secondary glyphicon glyphicon-refresh", @Title = "Click to Refresh this page" })
                    <input type="submit" value="Save" class="btn btn-success" class1="glyphicon glyphicon-floppy-disk" style="float:right" title="Click to Save New Vet" />
                </div>
            </div>
        </div>
    }

    <h2 style="color:red">@ViewBag.Message</h2><br />
    <div>


    </div>
</div>

