@model AdoptifySystem.Event_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Event Details:</h2>

<div>
    <h4>Event Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Event Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Name)
        </dd>

        <dt>
            Start Time:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Start)
        </dd>

        <dt>
            Date:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Date)
        </dd>

        <dt>
            Event Status:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Status)
        </dd>

        <dt>
            Ticket Price:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Ticket_Price)
        </dd>

        <dt>
           Location:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Location)
        </dd>

        <dt>
            Description:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Description)
        </dd>

        <dt>
            Ticket Available:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketAvailable)
        </dd>

        <dt>
            Even Type:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Type.Event_Type_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Update", "Edit", new { id = Model.Event_ID }) |
    @Html.ActionLink("Back", "Index")
</p>
