@model IEnumerable<AdoptifySystem.Event_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New Event", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Event Name:
        </th>
        <th>
           Event Start Time:
        </th>
        <th>
            Date:
        </th>
        <th>
           Ticket Price:
        </th>
        <th>
            Location:
        </th>
        <th>
            Description:
        </th>
        <th>
            Tickets Available:
        </th>
        <th>
            Event Type:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Ticket_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Type.Event_Type_Name)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id=item.Event_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Event_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Event_ID })
        </td>
    </tr>
}

</table>
