<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Adoptify System Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/css")*@
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> <!-- KIM added this here and the two below -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    @*//the Loader*@
    <div class="loading" align="center">
        Loading. Please wait.<br />
        <br />
        <img src="~/Images/Loader.gif" />
    </div>
    @*The navabar*@
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Wollies Animal Shelter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Admin</a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                        @Html.ActionLink("Login", "AddDonation", "Admin", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Add User Role", "adduserrole", "Admin", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Change Password", "AddDonor", "Admin", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Checkin", "Checkin", "Admin", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Checkout", "AddDonation", "Admin", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Maintain User Role", "maintainuserrole", "Admin", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Search User Role", "searchuserrole", "Admin", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Reset Password", "Reset Password", "Admin", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Donations</a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                        @Html.ActionLink("Add Donations", "AddDonation", "Donations", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Search Donations", "SearchDonations", "Donations", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Add Donor", "AddDonor", "Donations", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Maintain Donor", "maintaindonor", "Donations", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Search Donor", "searchdonor", "Donations", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Add Donation Type", "AddDonationType", "Donations", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Maintain Donation Type", "MaintianDonationType", "Donations", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Search Donation Type", "SearchDonationType", "Donations", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Stock</a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                        @Html.ActionLink("Add Stock", "AddDonation", "Stock", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Search Stock", "SearchStock", "Stock", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Maintian Stock", "MaintianStock", "Stock", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Add Stock Type", "AddStockType", "Stock", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Search Stock Type", "SearchStockType", "Stock", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Maintian Stock Type", "MaintianStockType", "Stock", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Capture Stock Take", "SearchStock", "Stock", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Receive Stock", "SearchStock", "Stock", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Foster Care</a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                        @Html.ActionLink("Add Foster Care Parent", "Addfostercareparent", "Foster Care", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Search Foster Care Parent", "Searchfostercareparent", "Foster Care", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Maintain Foster Care Parent", "maintainfostercareparent", "Foster Care", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Add to Foster Care", "AddtoFosterCare", "Foster Care", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Remove from Foster Care", "removefromFosterCare", "Foster Care", null, new { @class = "dropdown-item" })
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Developed by WaveyTec Group</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
<script type="text/javascript">
    var modal, loading;
    function ShowProgress() {
        modal = document.createElement("DIV");
        modal.className = "modal1";
        document.body.appendChild(modal);
        loading = document.getElementsByClassName("loading")[0];
        loading.style.display = "block";
        var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
        var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
        loading.style.top = top + "px";
        loading.style.left = left + "px";
    };
    ShowProgress();
</script>

<!-- Keep the Page Content Here.-->

<script type="text/javascript">
    window.onload = function () {
        setTimeout(function () {
            document.body.removeChild(modal);
            loading.style.display = "none";
        }, 500); //Delay just used for example and must be set to 0.
    };
</script>
