@model IEnumerable<AdoptifySystem.Packaging_Type>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Packaging Type List </h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @style = "color: # fff" }, new { @class = "btn btn-success" })
    @*@Html.ActionLink("Create New", "Create")*@
</p>

<div class="row">
    <div class="col-md-5">
        <h4><span style="font-weight:bold">Search Criteria:<span class="label label-default"></span></span></h4>
        @Html.TextBox("search", "", new { @name = "txtSearch", @autocomplete = "off", @placeholder = "Search Criteria", @class = "form-control" })
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <button type="submit" value="Search" class="btn btn-primary">Search</button>
    </div>
</div>
<br />


<table class="table table-bordered">


    <tr class="thead-light">

        <th>
            Packaging Type Name
            @*@Html.DisplayNameFor(model => model.Packaging_Type_Name)*@
        </th>
        <th>
            Action Result
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Packaging_Type_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Packaging_Type_ID }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Packaging_Type_ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
