@model AdoptifySystem.Audit_Log

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit Audit Log</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Auditlog_ID)

        <div class="form-group">
            <label>Enter Date:</label>
            @*@Html.LabelFor(model => model.Auditlog_DateTime, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <input type="date" name="Auditlog_DateTime" id="Auditlog_DateTime" class="form-control" placeholder="MM/DD/YY" required="required">
                @*@Html.EditorFor(model => model.Auditlog_DateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Auditlog_DateTime, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <label>Enter Transaction Type:</label>
            @*@Html.LabelFor(model => model.Transaction_Type, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transaction_Type, new { htmlAttributes = new { @class = "form-control" }, required = "required" })
                @Html.ValidationMessageFor(model => model.Transaction_Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Enter Critical Date:</label>
            @*@Html.LabelFor(model => model.Critical_Date, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Critical_Date, new { htmlAttributes = new { @class = "form-control" }, required = "required" })
                @Html.ValidationMessageFor(model => model.Critical_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Select User:</label>
            @*@Html.LabelFor(model => model.UserID, "UserID", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" name="button" value="Cancel" class="btn btn-warning">Cancel</button>
                <button type="submit" name="button" value="Save" class="btn btn-success float-right">Save</button>
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
