@model List<AdoptifySystem.Audit_Log>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Audit Log List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @style = "color: # fff" }, new { @class = "btn btn-success" })
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@using (Html.BeginForm("Search", "AuditLog"))
{


    <div class="form-group">
        <label>Search Criteria:</label><br />
        <div id="contain">
            <select name="Transaction" class="custom-select-sm">
                <option value="User">User</option>
                <option value="Date">Date</option>
                <option value="Transaction Type">Transaction Type</option>
            </select>
        </div>
        <input type="text" class="form-control" name="ssearch" id="clone" />
        <br />
        <input type="button" name="othercolor" id="othercolor" style='display:none;' />

    </div>
}
@if (Model != null)
{
    <div class="row">
        <div class="col-md-4">
            <button type="submit" value="Search" class="btn btn-primary">Search</button>
        </div>
    </div>
    <br />

    <table class="table table-bordered">
        <tr class="table-primary">

            <th>
                Date
            </th>
            <th>
                Transaction Type

            </th>
            <th>
                Critical Date

            </th>

            <th>
                User
            </th>

            <th>
                Action Result
            </th>
        </tr>

        @*@if (Model == null)
            {
                <tr>
                    <td colspan="8">
                        No results found
                    </td>
                </tr>
            }
            else
            {*@

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Auditlog_DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transaction_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Critical_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_.Username)
                </td>
            </tr>
        }




    </table>

}
<script>
    $("#clone").bind("click", function () {
        //Clone the DropDownList
        var ddl = $("#Search").clone()

        //Append to the DIV.
        $("#contain").append(ddl);

    });
</script>



