@model IEnumerable<AdoptifySystem.Audit_Log>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Audit Log List</h2>
@using (Html.BeginForm("Search", "Audit_Log"))
{
    <div class="form-group">
        <label>Search Criteria:</label><br />
        <div id="contain">
            <select name="option" onchange="change(this)" class="custom-select">
                <option value="User">User</option>
                <option value="Date">Date</option>
                <option value="Transaction Type">Transaction Type</option>
            </select>
        </div>
        <br />
        <input type="text" id="clone" name="search" class="form-control" />
    </div>

    <div class="row">
        <div class="col-md-4">
            <button type="submit" value="Search" class="btn btn-primary">Search</button>
            @Html.ActionLink("Reset", "Index", null , new { @class = "btn" })
        </div>
    </div>
}

<br />

<table class="table table-bordered">
    <tr class="table-primary">

        <th>
            Date
        </th>
        <th>
            Transaction Type

        </th>
        <th>
            Critical Date

        </th>

        <th>
            User
        </th>

        <th>
            Action Result
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Auditlog_DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Critical_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_.Username)
            </td>

            <td>
                @*@Html.ActionLink("Details", "Details", new { id = item.Auditlog_ID }, new { @class = "btn btn-success" })*@
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Auditlog_ID }, new { @class = "btn btn-warning" }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Auditlog_ID }, new { @class = "btn btn-danger" })*@
            </td>
        </tr>
    }




</table>

<script>
    function change(id) {

        if (id.value == "Date") {
            var e = document.getElementById("clone"); //Get the element
            e.setAttribute("type", "date");
        } else {
             var e = document.getElementById("clone"); //Get the element
            e.setAttribute("type", "text");
        }
    }
</script>




