@model IEnumerable<AdoptifySystem.Audit_Log>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Audit Log List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @style = "color: # fff" }, new { @class = "btn btn-success" })
    @*@Html.ActionLink("Create New", "Create")*@
</p>

<div class="form-group">
    <label>Search Criteria:</label><br />

    <select name="Search" onchange=''>
        <option>Select Option </option>
        <option value="User_Type">User Type</option>
        <option value="Date">Date</option>
        <option value="Transaction Type">Transaction Type</option>
    </select>
    @*<input type="text" name="othercolor" id="othercolor" style='display:none;' />*@

</div>

<div class="row">
    <div class="col-md-4">
        <button type="submit" value="Search" class="btn btn-primary">Search</button>
    </div>
</div>
<br />

<table class="table table-bordered">
    <tr class="thead-light">

        <th>
            Date
        </th>
        <th>
            Transaction Type

        </th>
        <th>
            Critical Date

        </th>

        <th>
            User
        </th>

        <th>
            Action Result
        </th>
    </tr>

    @*@if (Model == null)
    {
        <tr>
            <td colspan="8">
                No results found
            </td>
        </tr>
    }
    else
    {*@

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Auditlog_DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transaction_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Critical_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_.Username)
                </td>

                <td>

                    @*@Html.ActionLink("Details", "Details", new { id = item.Auditlog_ID }) |*@
                    @Html.ActionLink("Edit", "Edit", new { id = item.Auditlog_ID }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Auditlog_ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    


</table>






            