@model AdoptifySystem.Adopter

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="main">
        <div class="" style="text-align:center;padding-left:120px">
            <div class="col-sm-10" style='background-color: #2ba6cb'>
                <h1 style="color:white">Create Adopter</h1>
            </div>
        </div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home" title="Go to Adopter Details">Adopter Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile" title="Go to Adopter Homecheck Details">Adopter Homecheck Details</a>
                </li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade show active" id="home">

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <lable class="control-label col-md-2">Name</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Adopter_Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Adopter Name", required = "required", maxlength="200" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Adopter_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">Surname</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Adopter_Surname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Adopter Surname", required = "required", maxlength="200" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Adopter_Surname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">Email</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Adopter_Email, new { htmlAttributes = new { @class = "form-control", @type = "email", placeholder = "Enter Adopter Email", required = "required", maxlength="200" } })
                                @Html.ValidationMessageFor(model => model.Adopter_Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">Title</lable>
                            <div class="col-md-10">
                                @Html.DropDownList("Title_ID", null, htmlAttributes: new { @class = "form-control", required = "required" })
                                <br />
                                @Html.ValidationMessageFor(model => model.Title_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <lable class="control-label col-md-2">Address</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Adopter_Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Adopter Address", required = "required", maxlength="500" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Adopter_Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">Postal Address</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Adopter_PostalAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Adopter Postal Address", required = "required", maxlength="500" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Adopter_PostalAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">Tel Number</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Adopter_HomeNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Adopter Tel Number", @type ="tel", maxlength="15" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Adopter_HomeNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">Work Number</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Adopter_WorkNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Adopter Work Number", maxlength="15" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Adopter_WorkNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">Cell Number</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Adopter_CellNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Adopter Cell Number", required = "required", maxlength="15" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Adopter_CellNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">CarRegistartion Number</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Adopter_CarRegistartion_Number, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Adopter Car Registration Number", maxlength="10" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Adopter_CarRegistartion_Number, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">Employer</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Adopter_Employer, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Adopter Employer", required = "required", maxlength="200" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Adopter_Employer, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">Occupation</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Adopter_Occupation, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Adopter Occupation", required = "required" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Adopter_Occupation, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Adopter_Status_ID, "Adopter_Status_ID", htmlAttributes: new { @class = "control-label col-md-2", style = "display:inline;" })
                            <div class="col-md-10">
                                @Html.DropDownList("Adopter_Status_ID", null, htmlAttributes: new { @class = "form-control" })
                                <br />
                                @Html.ValidationMessageFor(model => model.Adopter_Status_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        <div class="form-group">
                            <lable class="control-label col-md-2">Number of Family Memebers</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Amount_of_Family_Memebers, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Amount of Family Members", required = "required" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Amount_of_Family_Memebers, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">Number of Children</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.No_of_Children, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Number Of Children", required = "required" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.No_of_Children, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lable class="control-label col-md-2">Age of Children</lable>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Age_of_Children, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Age Of Children" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Age_of_Children, "", new { @class = "text-danger" })
                                <br />

                            </div>
                            <div class="col-md-10">
                                <h3 style="color:red">"Click on the Adopter Homecheck Details Tab to Continue"</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <br />
                                @Html.ActionLink("Back", "Index", "Adopters", new { @class = "btn btn-primary", style = "float:left", @Title = "Click to go Back" })
                                <br />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show" id="profile">
                    <div class="form-group">
                        <hr />
                        <lable class="control-label col-md-2">Property Securely Closed</lable>
                        <div class="col-md-10">
                            <div class="form-group" required="required">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Property_Securely_Closed" value="True" id="Property_Securely_Closed_Yes" class="custom-control-input">
                                    <label class="custom-control-label" for="Property_Securely_Closed_Yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Property_Securely_Closed" value="False" id="Property_Securely_Closed_No" class="custom-control-input">
                                    <label class="custom-control-label" for="Property_Securely_Closed_No">No</label>
                                </div>
                                <br />
                                @Html.ValidationMessageFor(model => model.Property_Securely_Closed, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">Properyty Include Pool</lable>
                        <div class="col-md-10">
                            <div class="form-group" required="required">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Properyty_Include_Pool" value="True" id="Properyty_Include_Pool_Yes" class="custom-control-input">
                                    <label class="custom-control-label" for="Properyty_Include_Pool_Yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Properyty_Include_Pool" value="False" id="Properyty_Include_Pool_No" class="custom-control-input">
                                    <label class="custom-control-label" for="Properyty_Include_Pool_No">No</label>
                                </div>
                                <br />
                                @Html.ValidationMessageFor(model => model.Properyty_Include_Pool, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <lable class="control-label col-md-2">Is the Pool Secured? (Only if Checked Yes to Previous Question)</lable>
                        <div class="col-md-10">
                            <div class="form-group" required="required">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Pool_Secured" value="True" id="Pool_Secured_Yes" class="custom-control-input">
                                    <label class="custom-control-label" for="Pool_Secured_Yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Pool_Secured" value="False" id="Pool_Secured_No" class="custom-control-input">
                                    <label class="custom-control-label" for="Pool_Secured_No">No</label>
                                </div>
                                <br />
                                @Html.ValidationMessageFor(model => model.Pool_Secured, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">Animal Shelter Available</lable>
                        <div class="col-md-10">
                            <div class="form-group" required="required">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Animal_Shelter_Available" value="True" id="Animal_Shelter_Available_Yes" class="custom-control-input">
                                    <label class="custom-control-label" for="Animal_Shelter_Available_Yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Animal_Shelter_Available" value="False" id="Animal_Shelter_Available_No" class="custom-control-input">
                                    <label class="custom-control-label" for="Animal_Shelter_Available_No">No</label>
                                </div>
                                <br />
                                @Html.ValidationMessageFor(model => model.Animal_Shelter_Available, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">Any Sick Animal at the Moment</lable>
                        <div class="col-md-10">
                            <div class="form-group" required="required">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Sick_Animal" value="True" id="Sick_Animal_Yes" class="custom-control-input">
                                    <label class="custom-control-label" for="Sick_Animal_Yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Sick_Animal" value="False" id="Sick_Animal_No" class="custom-control-input">
                                    <label class="custom-control-label" for="Sick_Animal_No">No</label>
                                </div>
                                <br />
                                @Html.ValidationMessageFor(model => model.Sick_Animal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">Sick Animal Diagnosis</lable>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Sick_Animal_Diagnosis, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Sick Animal's Diagnosis", required = "required", maxlength="354" } })
                            <br />
                            @Html.ValidationMessageFor(model => model.Sick_Animal_Diagnosis, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">Animal Sleeping Location</lable>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Animal_Sleep_Location, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Animal's Sleep Location", required = "required", maxlength="354" } })
                            <br />
                            @Html.ValidationMessageFor(model => model.Animal_Sleep_Location, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">Given Animal Away Before?</lable>
                        <div class="col-md-10">
                            <div class="form-group" required="required">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Given_Animal_Away" value="True" id="Given_Animal_Away_Yes" class="custom-control-input">
                                    <label class="custom-control-label" for="Given_Animal_Away_Yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Given_Animal_Away" value="False" id="Given_Animal_Away_No" class="custom-control-input">
                                    <label class="custom-control-label" for="Given_Animal_Away_No">No</label>
                                </div>
                                <br />
                                @Html.ValidationMessageFor(model => model.Given_Animal_Away, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">HomeCheck Appointment Suburb</lable>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.HomeCheck_Suburb, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Suburb Location", required = "required", maxlength="354" } })
                            <br />
                            @Html.ValidationMessageFor(model => model.HomeCheck_Suburb, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">Type of House</lable>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Type_of_House, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Type Of House (Single or Double story", required = "required", maxlength="354" } })
                            <br />
                            @Html.ValidationMessageFor(model => model.Type_of_House, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">Have You Adopted Before?</lable>
                        <div class="col-md-10">
                            <div class="form-group" required="required">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Adopted_Before" value="True" id="Adopted_Before_Yes" class="custom-control-input">
                                    <label class="custom-control-label" for="Adopted_Before_Yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Adopted_Before" value="False" id="Adopted_Before_No" class="custom-control-input">
                                    <label class="custom-control-label" for="Adopted_Before_No">No</label>
                                </div>
                                <br />
                                @Html.ValidationMessageFor(model => model.Adopted_Before, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">Complex or Flat</lable>
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Complex_or_Flat" value="True" id="Complex_or_Flat_Yes" class="custom-control-input">
                                    <label class="custom-control-label" for="Complex_or_Flat_Yes">Complex</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Complex_or_Flat" value="False" id="Complex_or_Flat_No" class="custom-control-input">
                                    <label class="custom-control-label" for="Complex_or_Flat_No">Flat</label>
                                </div>
                                <br />
                                @Html.ValidationMessageFor(model => model.Complex_or_Flat, "", new { @class = "text-danger", style = "display:inline;" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">Animal Allowed</lable>
                        <div class="col-md-10">
                            <div class="form-group" required="required">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Animal_Allowed" value="True" id="Animal_Allowed_Yes" class="custom-control-input">
                                    <label class="custom-control-label" for="Animal_Allowed_Yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Animal_Allowed" value="False" id="Animal_Allowed_No" class="custom-control-input">
                                    <label class="custom-control-label" for="Animal_Allowed_No">No</label>
                                </div>
                                <br />
                                @Html.ValidationMessageFor(model => model.Animal_Allowed, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <lable class="control-label col-md-2">Animal Captivity</lable>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Animal_Captivity, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter if the Animal will be Caged", required = "required", maxlength="354"} })
                            <br />
                            @Html.ValidationMessageFor(model => model.Animal_Captivity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">Animal Vaccines Updated</lable>
                        <div class="col-md-10">
                            <div class="form-group" required="required">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Animal_Vaccines_Updated" value="True" id="Animal_Vaccines_Updated_Yes" class="custom-control-input">
                                    <label class="custom-control-label" for="Animal_Vaccines_Updated_Yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onclick="yesnoCheck()" name="Animal_Vaccines_Updated" value="False" id="Animal_Vaccines_Updated_No" class="custom-control-input">
                                    <label class="custom-control-label" for="Animal_Vaccines_Updated_No">No</label>
                                </div>
                                <br />
                                @Html.ValidationMessageFor(model => model.Animal_Vaccines_Updated, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <br />
                            @Html.ActionLink("Back", "Index", "Adopters", new { @class = "btn btn-primary", style = "float:left", @Title = "Click to go Back" })
                            <input type="submit" value="Save" class="btn btn-success" style="float:right" title="Click to Save Adopter" />
                            <br />
                        </div>
                    </div>
                </div>

            </div>
        }

    </div>
@*<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>*@
<script>
    function yesnoCheck() {
        if (document.getElementById('Property_Securely_Closed_Yes').checked) {
            document.getElementById('Property').style.display = 'block';
        }
        else document.getElementById('Property').style.display = 'none';
        function Save() {
            var Property_Securely_Closed = document.getElementById("Property_Securely_Closed");
            var Properyty_Include_Pool = document.getElementById("Properyty_Include_Pool")
            var Pool_Secured = document.getElementById("Pool_Secured")
            var Animal_Shelter_Available = document.getElementById("Animal_Shelter_Available")
            var Sick_Animal = document.getElementById("Sick_Animal")
            var Given_Animal_Away = document.getElementById("Given_Animal_Away")
            var Adopted_Before = document.getElementById("Adopted_Before")
            var Complex_or_Flat = document.getElementById("Complex_or_Flat")
            var Animal_Allowed = document.getElementById("Animal_Allowed")
            var Animal_Vaccines_Updated = document.getElementById("Animal_Vaccines_Updated")
        }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWS2RFX5WP2nl4kXOGpCZwjHsYFEQp5iA&=false&libraries=places"></script>
    <script type="text/javascript">

        google.maps.event.addDomListener(window, 'load', function () {
            var options = {
                types: ['(regions)'],
                componentRestrictions: { country: "za" }
            };

            var input = document.getElementById('Adopter_Address');
            var input1 = document.getElementById('Adopter_PostalAddress');
            var input2 = document.getElementById('HomeCheck_Suburb');
            var places = new google.maps.places.Autocomplete(input, options);
            var places1 = new google.maps.places.Autocomplete(input1, options);
             var places2 = new google.maps.places.Autocomplete(input2, options);

        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
