@model AdoptifySystem.Models.Volunteer_Work_Type

@{
    ViewBag.Title = "Details";
}

<h2>Volunteer Work Type Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vol_WorkType_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vol_WorkType_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vol_WorkType_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vol_WorkType_Description)
        </dd>

    </dl>
</div>
<p>
    <br/>
    @Html.ActionLink("Update", "Edit", "Volunteer_Work_Type", new { id = Model.Vol_WorkType_ID }, new { @class = "btn btn-success", style="float:right", @Title = "Click to Update Volunteer Work Type" })
    @Html.ActionLink("Back to List", "Index", "Volunteer_Work_Type", new { @class = "btn btn-dark", style = "float:right", @Title = "Click to go Back" })
    <br />
</p>
