@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@

    <style>
        /* Style the tab */
        .tab {
            overflow: hidden;
            /*border: 1px solid #ccc;*/
            /*background-color: #f1f1f1;*/
        }

            /* Style the buttons that are used to open the tab content */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: dodgerblue;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: #2ba6cb;
                }

        /* Style the tab content */
        .tabcontent {
            display: none;
            /*padding: 6px 12px;*/
            /*border: 1px solid #ccc;*/
            border-top: none;
        }
    </style>
</head>


@*<div id="main">*@
<br />
<div class="" style="text-align:center;padding-left:120px">
    <div class="col-sm-10">
        <h1 style="background-color: #2ba6cb; color:white">Wollies Animal Shelter Home Page</h1>
    </div>
</div>
@*@if (Request.IsAuthenticated)
{
    <h1>@HttpContext.Current.User.Identity.Name</h1>
}*@
<br />
<br />

<hr />
@*<ul class="nav nav-tabs">
           <li class="nav-item">
               <a class="nav-link active" data-toggle="tab" href="#DashBoard">Home Dashboard</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" data-toggle="tab" href="#schedule">Schedule</a>
           </li>

    </ul>*@
<script>
    function homeTab(evt, home) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(home).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
</script>

@*<div class="tab">
        <button class="tablinks" onclick="homeTab(event, 'DashBoard')" id="defaultOpen">Home Dashboard</button>
        <button class="tablinks" onclick="homeTab(event, 'schedule')">Schedule Calendar</button>
    </div>*@
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Home Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile">Schedule Calendar</a>
    </li>
    @*<li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>*@
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="home">
        @*<div id="DashBoard" class="tabcontent">*@
        @*<div div class="tab-pane fade show active" id="DashBoard">*@
        <br />
        <div class="container active" style="width:100%; margin-left:30px">
            <div class="jumbotron" style="width:190px;height:272px; background-color:#2ba6cb; float:left; margin-left:100px">
                <i class="glyphicon glyphicon-heart" style="font-size:80px; color:black; margin-left:-10px">
                </i>
                <label style="font-size:15px; text-align:left">
                    Dogs Available for Adoption
                </label>
                <a href="http://localhost:55003/Animal/SearchAnimal">
                    <button class="btn btn-warning btn-lg" type="button" style="border-radius:20px; margin-left:5px">
                        @ViewBag.AnimalsDogs
                    </button>
                </a>
            </div>
        @*</div>*@
        @*<div class="container active" style="width:100%; margin-left:30px">*@
            <div class="jumbotron" style="width:190px;height:272px; background-color:#2ba6cb; float:left; margin-left:100px">
                <i class="glyphicon glyphicon-heart-empty" style="font-size:80px; color:black; margin-left:-10px">
                </i>
                <label style="font-size:15px; text-align:left">
                    Cats Available for Adoption
                </label>
                <a href="http://localhost:55003/Animal/SearchAnimal">
                    <button class="btn btn-warning btn-lg" type="button" style="border-radius:20px; margin-left:5px">
                        @ViewBag.AnimalsCats
                    </button>
                </a>
            </div>
        @*</div>*@
        @*<div class="container active" style="width:100%; margin-left:30px">*@
            <div class="jumbotron" style="width:190px;height:272px; background-color:#2ba6cb; float:left; margin-left:100px">
                <i class="glyphicon glyphicon-shopping-cart" style="font-size:80px; color:black; margin-left:-10px">
                </i>
                <label style="font-size:15px">
                    Adoptions In Progress
                </label>
                <a href="http://localhost:55003/Adoptions/Index">
                    <button class="btn btn-warning btn-lg" type="button" style="border-radius:20px; margin-left:5px">
                        @ViewBag.Adoptions
                    </button>
                </a>
            </div>

        </div>
        </div>

        @*<br />
        <br />
        <hr />*@

        @*<div id="chart_div" style="width:500px;height:400px">
            <%-- Here Chart Will Load --%>
        </div>*@
        <div class="tab-pane fade" id="profile">
            <br />
            @*<div id="schedule" class="tabcontent">*@
            @*<div class="tab-pane fade" id="schedule">*@
            <div class="panel panel-default" id="" style="width:1200px">
                <div class="panel-heading">
                    <h3 class="panel-title">Upcoming Events</h3>
                </div>

                <div id="calender"></div>

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header table-primary">
                                <h5 class="modal-title"><span id="eventTitle"></span></h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>
                            <div class="modal-body">
                                <button id="btnDelete" class="btn btn-danger btn-sm pull-right">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                                <button id="btnEdit" class="btn btn-warning btn-sm pull-right" style="margin-right:5px;">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </button>
                                <p id="pDetails"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="myModalSave" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header table-primary">
                                <h5 class="modal-title">Add Events to Schedule</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <input type="hidden" id="hdEventID" value="0" />
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" id="txtSubject" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Start</label>
                                        <div class="input-group date" id="dtp1">
                                            <input type="text" id="txtStart" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" id="chkIsFullDay" checked="checked" />  Is Full Day event</label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divEndDate" style="display:none">
                                        <label>End</label>
                                        <div class="input-group date" id="dtp2">
                                            <input type="text" id="txtEnd" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Theme Color</label>
                                        <select id="ddThemeColor" class="form-control">
                                            <option value="">Default</option>
                                            <option value="red">Red-</option>
                                            <option value="blue">Blue-Events</option>
                                            <option value="orange">Orange-HomeCheck</option>
                                            <option value="black">Black-Other</option>
                                        </select>
                                    </div>
                                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@*</div>*@


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


    <script>
            $(document).ready(function () {
                var events = [];
                var selectedEvent = null;
                FetchEventAndRenderCalendar();
                function FetchEventAndRenderCalendar() {
                    events = [];
                    $.ajax({
                        type: "GET",
                        url: "/Home/GetEvents",
                        success: function (data) {
                            $.each(data, function (i, v) {
                                events.push({
                                    eventID: v.EventID,
                                    title: v.Subject,
                                    description: v.Description,
                                    start: moment(v.Start),
                                    end: v.EventEnd != null ? moment(v.EventEnd) : null,
                                    color: v.ThemeColour,
                                    allDay: v.IsFullDay
                                });
                            })

                            GenerateCalender(events);
                        },
                        error: function (error) {
                            alert('failed');
                        }
                    })
                }

                function GenerateCalender(events) {
                    $('#calender').fullCalendar('destroy');
                    $('#calender').fullCalendar({
                        contentHeight: 400,
                        defaultDate: new Date(),
                        timeFormat: 'h(:mm)a',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,basicWeek,basicDay,agenda'
                        },
                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,
                        eventClick: function (calEvent, jsEvent, view) {
                            selectedEvent = calEvent;
                            $('#myModal #eventTitle').text(calEvent.title);
                            var $description = $('<div/>');
                            $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                            if (calEvent.end != null) {
                                $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                            }
                            $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                            $('#myModal #pDetails').empty().html($description);

                            $('#myModal').modal();
                        },
                        selectable: true,
                        select: function (start, end) {
                            selectedEvent = {
                                eventID: 0,
                                title: '',
                                description: '',
                                start: start,
                                end: end,
                                allDay: false,
                                color: ''
                            };
                            openAddEditForm();
                            $('#calendar').fullCalendar('unselect');
                        },
                        editable: true,
                        eventDrop: function (event) {
                            var data = {
                                EventID: event.eventID,
                                Subject: event.title,
                                Start: event.start.format('DD/MM/YYYY HH:mm A'),
                                EventEnd: event.end != null ? event.end.format('DD/MM/YYYY HH:mm A') : null,
                                Description: event.description,
                                ThemeColour: event.color,
                                IsFullDay: event.allDay
                            };
                            SaveEvent(data);
                        }
                    })
                }

                $('#btnEdit').click(function () {
                    //Open modal dialog for edit event
                    openAddEditForm();
                })
                $('#btnDelete').click(function () {
                    if (selectedEvent != null && confirm('Are you sure?')) {
                        $.ajax({
                            type: "POST",
                            url: '/Home/DeleteEvent',
                            data: { 'eventID': selectedEvent.eventID },
                            success: function (data) {
                                if (data.status) {//staus is true
                                    //Refresh the calender
                                    FetchEventAndRenderCalendar();
                                    $('#myModal').modal('hide');
                                }
                            },
                            //Error message
                            error: function () {
                                alert('Delete Failed');
                            }
                        })
                    }
                })

                //Datetime picker
                $('#dtp1,#dtp2').datetimepicker({
                    format: 'DD/MM/YYYY HH:mm A'
                });

                $('#chkIsFullDay').change(function () {
                    if ($(this).is(':checked')) {
                        $('#divEndDate').hide();
                    }
                    else {
                        $('#divEndDate').show();
                    }
                });

                function openAddEditForm() {
                    if (selectedEvent != null) {
                        $('#hdEventID').val(selectedEvent.eventID);
                        $('#txtSubject').val(selectedEvent.title);
                        $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY HH:mm A'));
                        $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                        $('#chkIsFullDay').change();
                        $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm A') : '');
                        $('#txtDescription').val(selectedEvent.description);
                        $('#ddThemeColor').val(selectedEvent.color);
                    }
                    $('#myModal').modal('hide');
                    $('#myModalSave').modal();
                }

                $('#btnSave').click(function () {
                    //Validation/
                    if ($('#txtSubject').val().trim() == "") {
                        alert('Subject required');
                        return;
                    }
                    if ($('#txtStart').val().trim() == "") {
                        alert('Start date required');
                        return;
                    }
                    if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                        alert('End date required');
                        return;
                    }
                    else {
                        var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
                        var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A").toDate();
                        if (startDate > endDate) {
                            alert('Invalid End date');
                            return;
                        }
                    }

                    var data = {
                        EventID: $('#hdEventID').val(),
                        Subject: $('#txtSubject').val().trim(),
                        Start: $('#txtStart').val().trim(),
                        EventEnd: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                        Description: $('#txtDescription').val(),
                        ThemeColour: $('#ddThemeColor').val(),
                        IsFullDay: $('#chkIsFullDay').is(':checked')
                    }
                    SaveEvent(data);
                    // call function for submit data to the server
                })

                function SaveEvent(data) {
                    $.ajax({
                        type: "POST",
                        url: '/Home/SaveEvent',
                        data: data,
                        success: function (data) {
                            if (data.status) {
                                //Refresh the calender
                                FetchEventAndRenderCalendar();
                                $('#myModalSave').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })

            $(function () {
                var successMessage = '@TempData["LoginSuccessMessage"]'
                if (successMessage != '')
                    alertify.success(successMessage);
            });


            $(function () {
                var successMessage = '@TempData["HomeCheckReportMessage"]'
                if (successMessage != '')
                    alertify.success(successMessage);
            });

            //var chartData; // globar variable for hold chart data
            //google.load("visualization", "1", { packages: ["corechart"] });

            //// Here We will fill chartData

            //$(document).ready(function () {

            //    $.ajax({
            //        url: "Home/GetChartData",
            //        data: "",
            //        dataType: "json",
            //        type: "POST",
            //        contentType: "application/json; chartset=utf-8",
            //        success: function (data) {
            //            chartData = data.d;
            //        },
            //        error: function () {
            //            alert("Error loading data! Please try again.");
            //        }
            //    }).done(function () {
            //        // after complete loading data
            //        google.setOnLoadCallback(drawChart);
            //        drawChart();
            //    });
            //});



            //function drawChart() {
            //    var data = google.visualization.arrayToDataTable(chartData);

            //    var options = {
            //        title: "Animal Intake in the Past 5 years",
            //        pointSize: 5,
            //        seriesType: "bars",
            //        series: { 2: { type: "line" } }
            //    };

            //    var comboChart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            //    comboChart.draw(data, options);

            //}

    </script>
}




