@model AdoptifySystem.Models.nickeymodel.Flexible

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        .row {
            display: flex;
        }

        .column {
            flex: 50%;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 5px; /* 5px rounded corners */
        }
        /* Add rounded corners to the top left and the top right corner of the image */
        img {
            border-radius: 5px 5px 0 0;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<br />
<div class="card border-primary mb-3">
    <h1 class="table-primary" style="width:100%">Clock-out Detail</h1>
    <div class="row">
        <div class="container column">
            @using (Html.BeginForm("GetUserDetails", "Admin", FormMethod.Post))
            {
                <h2 class="text-center">Search For Employee</h2>
                <select id="employee" name="id" class="custom-select" onclick="myFunction()">
                    @if (Model.employee != null)
                    {
                        foreach (var item in Model.employeelist)
                        {
                            if (item.Emp_ID == Model.employee.Emp_ID)
                            {
                                <option value="@item.Emp_ID" selected>@item.Emp_Name @item.Emp_Surname</option>
                            }
                            else
                            {
                                <option value="@item.Emp_ID">@item.Emp_Name @item.Emp_Surname</option>
                            }

                        }

                    }
                    else if (Model.employee == null)
                    {
                        if (Model.employeelist == null)
                        {
                            <div class="container" style="max-width: 20rem;">
                                <h1>There are no employees to Checkin</h1>
                            </div>
                        }
                        foreach (var item in Model.employeelist)
                        {
                            <option value="@item.Emp_ID" class="form-control">@item.Emp_Name @item.Emp_Surname</option>
                        }


                    }

                </select>
                <button id="btnSave" name="button" value="checkout" class="btn btn-lg btn-success">Search</button>
            }
        </div>

        <div class="column">
            <h2 class="text-center">Current Employee Selected:</h2>
            @if (Model.employee != null)
            {
                <div class="container card border-primary mb-3" style="max-width: 20rem;">
                    <div class="container">
                        <h4><b>@Model.employee.Emp_Name @Model.employee.Emp_Surname </b></h4>
                        <p><label class="card-title">IDnumber: </label>@Model.employee.Emp_IDNumber</p>
                        <p><label class="card-title">Email: </label>@Model.employee.Emp_Email</p>
                        <p><label class="card-title">Employee Type: </label>@Model.employee.Employee_Type.Emp_Type_Name</p>
                    </div>
                </div>
            }
            else
            {
                <div class="container" style="max-width: 20rem;">
                    <h1>None</h1>
                </div>
            }
        </div>

    </div>
</div>
<div class="card border-primary mb-3">
    <h1 class="table-primary" style="width:100%">Clock-out TimeStamp</h1>
    <h4 id="clock">@ViewBag.Time</h4>
</div>
<div class="form-group">
    @if (Model.employee != null)
    {
        using (Html.BeginForm("Checkout", "Admin"))
        {
            <div class="col-xs-12">
                <br>
                <input id="hide" name="id" value="@Model.employee.Emp_ID" hidden />
                <button class="btn btn-lg btn-success pull-right" type="submit">Clock-out</button>
            </div>
        }
    }
</div>

© 2019 GitHub, Inc.