@model AdoptifySystem.Models.nickeymodel.Innovation
@{
    ViewBag.Title = "AddBreedType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
        <div class="form-horizontal">
            <div>
                <div class="col-sm-12 table-primary">
                    <h1>Add Animal Breed Type</h1>
                </div>
            </div>
        </div><div class="form-horizontal">
            <h4 style="color:red">@ViewBag.errormessage</h4>
            <hr />
            <div class="form-group">
                <label class="col-md-10">Enter Animal Breed Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Animal_Breed_Name" name="Animal_Breed_Name" placeholder="Animal Breed Name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-10">Enter Animal Breed Description</label>
                <div class="col-md-10">
                    <textarea type="text" class="form-control" id="Animal_Breed_Description" name="Animal_Breed_Description" placeholder="Animal Breed Description" required></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-10"><b>Select Animal Type</b></label>
                <div class="col-md-10">
                    <select name="Animal_Type_ID" id="Animal_Type_ID" class="custom-select">
                        @if (Model.animalTypes != null)
                        {
                            <option> --Select-- </option>
                            foreach (var item in Model.animalTypes)
                            {
                                <option value="@item.Animal_Type_ID">@item.Animal_Type_Name</option>
                            }
                        }
                        else
                        {
                            <option>Go add Animal type</option>
                        }
                    </select>
                </div>
            </div>




            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" name="button" value="Cancel" class="btn btn-warning">Cancel</button>
                    <button type="submit" name="button" value="Save" onclick="Save()" class="btn btn-success float-right">Save</button>
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
         $(function () {
            var successMessage = '@TempData["EditMessage"]'
            if (successMessage != '')
                alertify.warning(successMessage);
         });
        $(function () {
            var successMessage = '@TempData["DeleteMessage"]'
            if (successMessage != '')
                alertify.error(successMessage);
        });

            function Save() {

                var Animal_Breed_Name = document.getElementById("Animal_Breed_Name");
                var Animal_Breed_Description = document.getElementById("Animal_Breed_Description");
                var Animal_Type_ID = document.getElementById("Animal_Type_ID");

                var isvalid = true;


                var x = document.getElementById("Animal_Type_ID").selectedIndex;
                if (x == 0) {
                    alert("Pick an Animal Type");
                    isvalid = false;
                }

                if (Animal_Breed_Name.value == "") {
                    //first remove
                    Animal_Breed_Name.classList.remove("is-valid");
                    //then add the class you want
                    Animal_Breed_Name.classList.add("is-invalid");
                    isvalid = false;
                } else {
                    //first remove
                    Animal_Breed_Name.classList.remove("is-invalid");
                    //then add the class you want
                    Animal_Breed_Name.classList.add("is-valid");
                }
                if (isvalid) {

                    var formData = new FormData();

                    formData.append("Animal_Breed_Name", Animal_Breed_Name.value );
                    formData.append("Animal_Breed_Description", Animal_Breed_Description.value);
                    formData.append("Animal_Type_ID", Animal_Type_ID.value);

                    $("#loader").show();
                $.ajax(
                    {
                    type: "POST",
                    data: formData,
                    url: "/Animal/AddBreedType",
                        cache: false,
                        contentType: false,
                        processData: false,
                    success: function (d) {
                        $("#loader").hide();
                        isvalid = true;

                    },
                    error: function (error) {
                        $("#loader").hide();
                        isvalid = false;
                        alert("There was an internal error try again later" + error);
                }
            });

                    if (isvalid)
                    {
                        location.href = '@Url.Action("SearchBreedType","Animal")';
                    }

                }
            }
        </script>
    }
