@model AdoptifySystem.Models.nickeymodel.Innovation
@{
    ViewBag.Title = "AddTemporaryAnimal";
    Layout = "~/Views/Shared/_Layout.cshtml ";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Animal Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile">Microchip</a>
    </li>
</ul>
@using (Html.BeginForm("AddTemporaryAnimal", "Animal", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="home">
            <div class="col-sm-10 table-primary"><h1>Add Animal</h1></div>
            <div class="column">
                <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" id="preview" class="avatar img-circle img-thumbnail" alt="avatar" style="width:192px;height:192px;">
                    <h6>Upload an animal photo...</h6>
                    <input type="file" name="animalPicture" class="text-center center-block file-upload">
                </div>

                <div class="form-group">
                    <label><b>Animal Type</b></label><br />
                    <div class="col-md-10">
                        <select name="Animal_Type_ID" class="custom-select" style="width:30%;" onchange="LoadProduct(this)">
                            @if (Model.animalTypes != null)
                            {
                                foreach (var item in Model.animalTypes)
                                {
                                    <option value="@item.Animal_Type_ID">@item.Animal_Type_Name</option>
                                }
                            }
                            else
                            {
                                <option>Go Add Animal Type</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-10"><b>Cross Breed?</b></label><br />
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" onclick="yesnoCheck()" name="Cross_Breed" value="True" id="Cross_Breed_Yes" class="custom-control-input">
                        <label class="custom-control-label" for="Cross_Breed_Yes">Yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" onclick="yesnoCheck()" name="Cross_Breed" value="False" id="Cross_Breed_No" class="custom-control-input">
                        <label class="custom-control-label" for="Cross_Breed_No">No</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row" style="width:100%;">
                        <div class="column" style="width:50%;">

                            <div class="container">
                                <label class="col-md-10"><b>Animal Breed</b></label>
                                        <select class=" breed custom-select" id="breed1" name="breed">
                                            <option>--Select--</option>
                                        </select>
                            </div>
                        </div>
                        <div class="column" id="second_breed" style="width:50%; display:none;">
                            <div class="container">
                                <label class="col-md-10"><b>Second Breed</b></label>
                                        <select name="breed" id="breed2" class=" breed custom-select">
                                            <option>--Select--</option>
                                        </select>
                            </div>

                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label><b>Castrated?</b></label><br />
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Animal_Castration_Yes" value="True" name="Animal_Castration" class="custom-control-input">
                        <label class="custom-control-label" for="Animal_Castration_Yes">Yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Animal_Castration_No" value="False" name="Animal_Castration" class="custom-control-input">
                        <label class="custom-control-label" for="Animal_Castration_No">No</label>
                    </div>
                    <div class="form-group">
                    </div>

                    <div class="col-xs-6">
                        <label><b>Animal Name</b></label><br />
                        <input type="text" class="form-control" name="Animal_Name" placeholder="Enter Animal Name">
                    </div>
                    <br />
                    <div class="form-group">
                        <label><b>Animal Description</b></label><br />
                        <textarea type="text" class="form-control" name="Animal_Description" placeholder="Enter Animal Description"></textarea>
                    </div>

                    <div class="col-xs-6">
                        <label><b>Animal Age</b></label><br />
                        <input type="number" class="form-control" name="Animal_Age" min="0" placeholder="Enter Animal Age">
                    </div>

                    <div class="col-xs-6">
                        <label><b>Animal Coat</b></label><br />
                        <input type="text" class="form-control" name="Animal_Coat" placeholder="Animal Coat">
                    </div>

                    <br />
                    <div class="form-group">
                        <label><b>Animal Gender</b></label><br />
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="Animal_Gender_Male" value="Male" name="Animal_Gender" class="custom-control-input">
                            <label class="custom-control-label" for="Animal_Gender_Male">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="Animal_Gender_Female" value="False" name="Animal_Gender" class="custom-control-input">
                            <label class="custom-control-label" for="Animal_Gender_Female">No</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label><b>Animal Size</b></label><br />
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="Animal_Size" value="Small" id="Small" class="custom-control-input">
                            <label class="custom-control-label" for="Small">Small</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="Animal_Size" value="Medium" id="Medium" class="custom-control-input">
                            <label class="custom-control-label" for="Medium">Medium</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="Animal_Size" value="Large" id="Large" class="custom-control-input">
                            <label class="custom-control-label" for="Large">Large</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label><b>Entry Date Of Animal</b></label><br />
                        <input type="date" name="Animal_Entry_Date" id="Animal_Entry_Date" class="form-control" placeholder="Enter Date of Entry" />
                    </div>


                    <div class="form-group">
                        <label><b>Sterilized?</b></label><br />
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="Animal_Sterilization" value="True" id="Animal_Sterilization_Yes" class="custom-control-input">
                            <label class="custom-control-label" for="Animal_Sterilization_Yes">Medium</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="Animal_Sterilization" value="False" id="Animal_Sterilization_No" class="custom-control-input">
                            <label class="custom-control-label" for="Animal_Sterilization_No">No</label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <label><b>Current Location</b></label><br />
                        <input type="text" name="Animal_Location" class="form-control" placeholder="Enter Current Location">
                    </div>


                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile">
            <div class="column">
                <div>
                    <div class="col-sm-10 table-primary"><h2>Animal Medical</h2></div>
                </div>
                <div class="col-xs-6">
                    <label><b>Animal Microchip Code</b></label><br />
                    <input type="text" class="form-control" name="Animal_Microchip_Code" placeholder="Animal  Microchip Code">
                </div>

                <div class="col-xs-6">
                    <label><b>Implanteers Pin Number</b></label><br />
                    <input type="text" class="form-control" name="Implanters_PIN_Number" placeholder="Implanteers Pin Number">
                </div>

                <div class="col-xs-6">
                    <label><b>Owner Name</b></label><br />
                    <input type="text" class="form-control" name="Owner_Name" placeholder="Enter Owner Name">
                </div>

                <div class="col-xs-6">
                    <label><b>Owner Contact Number</b></label><br />
                    <input type="number" name="Owner_Contact_Number" class="form-control" maxlength="10" placeholder="Owner Contact Number">
                </div>

                <div class="col-xs-6">
                    <label><b>Date Of Implant</b></label><br />
                    <input type="date" name="Date_of_Implant" id="Date_of_Implant" class="form-control" placeholder="MM/DD/YY">
                </div>

                <div class="col-xs-6">
                    <label><b>Owner Address</b></label><br />
                    <input type="text" name="Owner_Address" id="Owner_Address" class="form-control" placeholder="Enter Owner Address">
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" name="button" value="Save" onsubmit="myPassword" class="btn btn-success float-right col-md-6">Save</button>
            <button type="button" name="button" value="Cancel" class="btn btn-warning col-md-6">Cancel</button>
            <select class="form-control" id="departmentsDropdown" name="food"></select>
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    function yesnoCheck() {
        if (document.getElementById('Cross_Breed_Yes').checked) {
            document.getElementById('second_breed').style.display = 'block';
        }
        else document.getElementById('second_breed').style.display = 'none';

    }
    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#preview').attr('src', e.target.result);
    };

    var today = new Date();

    document.getElementById("Date_of_Implant").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
    document.getElementById("Animal_Entry_Date").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);

    //fetch products
    function LoadProduct(categoryDD) {
        $.ajax({
            type: "GET",
            url: "/Animal/animalbreed",
            data: { 'categoryID': $(categoryDD).val() },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //render products to appropriate dropdown
                var s = '';  
               for (var i = 0; i < data.length; i++) {  
                   s += '<option value="' + data[i].Animal_Breed_ID + '">' + data[i].Animal_Breed_Name + '</option>';  
                }
                $("#breed1").html(s);
                $("#breed2").html(s);
                //data = JSON.parse(data);
                //alert(data + "Hello");

            },
            error: function (error) {
                alert("There was an internal error");
            }
        })
    }
</script>
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
         $(function () {
            var successMessage = '@TempData["EditMessage"]'
            if (successMessage != '')
                alertify.warning(successMessage);
         });
        $(function () {
            var successMessage = '@TempData["DeleteMessage"]'
            if (successMessage != '')
                alertify.error(successMessage);
        });

    </script>
}
@*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAwmDJO6_loN_pEkSnVY_AmasgeoIG7dCQ&sensor=false&libraries=places""></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', function () {
            var options = {
                types: ['(cities)'],
                componentRestrictions: { country: "in" }
            };

            var input = document.getElementById('Owner_Address');
            var places = new google.maps.places.Autocomplete(input, options);


        });
    </script>*@
