@model IEnumerable<AdoptifySystem.Models.Title>

@{
    ViewBag.Title = "Index";
}

<h2>Title List</h2>

<p>
    @Html.ActionLink("Add New", "Create", "Titles", new { @class = "btn btn-success", @Title = "Click to Add Title" })
</p>
<table class="table-bordered table">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.Title_Description)    @*gets name*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title_Description)      @*gets value*@
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "Titles", new { id = item.Title_ID }, new { @class = "btn btn-danger", style = "float:right", @Title = "Click to Delete Title" })
                @Html.ActionLink("More Info", "Details", "Titles", new { id = item.Title_ID }, new { @class = "btn btn-primary", style = "float:right", @Title = "Click to View Title Information" })
                @Html.ActionLink("Update", "Edit", "Titles", new { id = item.Title_ID }, new { @class = "btn btn-success", style = "float:right", @Title = "Click to Update Title" })
            </td>
        </tr>
    }

</table>
