@model IEnumerable<AdoptifySystem.Models.Title>

@{
    ViewBag.Title = "Index";
}

    <div id="main">
        <br />
        <div class="" style="text-align:center;padding-left:120px">
            <div class="col-sm-10" style='background-color: #2ba6cb'>
                <h1 style="color:white">Title List</h1>
            </div>
        </div>

        @using (Html.BeginForm("SearchTitle", "Titles", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-5">
                    <h4><span style="font-weight:bold">Search Criteria:<span class="label label-default"></span></span></h4>
                    @Html.TextBox("search", "", new { @name = "txtSearch", @autocomplete = "off", @placeholder = "Search Criteria", @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="submit" value="Search" title="Click to Search Title" class="btn btn-primary">Search</button>
                </div>
            </div>
            <br />
        }

        <p>
            @Html.ActionLink("Add New", "Create", "Titles", new { @class = "btn btn-success", @Title = "Click to Add Title" })

        </p>
        <table class="table-bordered table">
            <tr class="table-primary">
                <th>
                    @Html.DisplayNameFor(model => model.Title_Description)    @*gets name*@
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title_Description)      @*gets value*@
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "Titles", new { id = item.Title_ID }, new { @class = "btn btn-danger", style = "float:right", @Title = "Click to Delete Title" })
                        @Html.ActionLink("More Info", "Details", "Titles", new { id = item.Title_ID }, new { @class = "btn btn-primary", style = "float:right", @Title = "Click to View Title Information" })
                        @Html.ActionLink("Update", "Edit", "Titles", new { id = item.Title_ID }, new { @class = "btn btn-success", style = "float:right", @Title = "Click to Update Title" })
                    </td>
                </tr>
            }

        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <br />
                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-warning", style = "float:right", @Title = "Click to go to Home Page" })
                <br />
            </div>
        </div>
    </div>
