@model AdoptifySystem.Adoption

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main">
    <div class="" style="text-align:center;padding-left:120px">
        <div class="col-sm-10" style='background-color: #2ba6cb'>
            <h1 style="color:white">Cancel Adoption</h1>
            </div>
        </div>
        <hr />
        <h3 style="color:red"><em> Are you sure you want to Cancel this Adoption?</em></h3>
        <div>
            <h4>Adoption</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Adoption Date:
                </dt>

                <dd style="color:red">
                    @Html.DisplayFor(model => model.Adoption_Date)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.Adoption_Form)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adoption_Form)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Collection_Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Collection_Date)
                </dd>*@

                <dt>
                    Adopter Details:
                </dt>

                <dd style="color:red">
                    @Html.DisplayFor(model => model.Adopter.Adopter_Name)
                </dd>

                <dt>
                    Animal Details:
                </dt>

                <dd style="color:red">
                    @Html.DisplayFor(model => model.Animal.Animal_Name)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.Payment.Payment_Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Payment.Payment_Description)
                </dd>*@

                <dt>
                    Adoption Status Level:
                </dt>

                <dd style="color:red">
                    @Html.DisplayFor(model => model.Adoption_Status.Adopt_Status_Name)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back", "Index", "Adoptions", null, new { @class = "btn btn-primary pull-left glyphicon glyphicon-remove-sign", @Title = "Click to go Back"  })
            @*@Html.ActionLink("Cancel Adoption", "Delete", "Adoptions", null, new { @class = "btn btn-danger pull-left glyphicon glyphicon-remove-sign", @style = "float:right", onclick = "return confirm('Are you sure want to Cancel This Adoption Animal? this with Cancel and Forfit the Current Adoption Process!');" })*@
            
            <input id="Delete" type="submit" value="Cancel Adoption" name="Delete" class="btn btn-danger" onclick="return confirm('Are you sure want to Cancel and Delete This Adoption from the List? this with Cancel and Forfit the Current Adoption Process!')" style="float:right" title="Click to Delete the following Adoption Details"/>

        </div>
            }
        </div>
    </div>
@section scripts{
    <script>
        function Delete(id) {
            alertify.confirm('Wollies Adoption Process','Are You Sure to Cancel this Adoption?',function(){
                window.location.href  = '@Url.Action("Delete", "Adoptions")/'+id;
            },null );
        }
    </script>
}