@model AdoptifySystem.HomeCheck

@{
    ViewBag.Title = "HomeCheckschedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main">
    <div class="" style="text-align:center;padding-left:120px">
        <div class="col-sm-10" style='background-color: #2ba6cb'>
            <h1 style="color:white">Schedule a HomeCheck</h1>
            </div>
        </div>
        @using (Html.BeginForm("Save", "Adoptions"))
        {
            @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Adoption</h4>
    <hr />

    <div>
        <label>Home Schedule Date: </label>
        <input required="required" name="NDate" type="date" id="HCSdate" class="form-control" />
    </div>
    @*<div class="form-group">
        <label class="control-label col-md-2" title="Select Desired Employee to perform the HomeCheck Appointment">Employee</label>
        <div class="col-md-10">
            @Html.DropDownList("Emp_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Emp_ID, "", new { @class = "text-danger" })
        </div>
    </div>*@
    <br />
    <div>
        <label>Adoption ID: </label> <label style="color:red">@ViewBag.ID</label>
    </div>
    <div>
        <label>Adopter's Details: </label> <label style="color:red">@ViewBag.IDName</label>
    </div>
    <div>
        <label>Animal Details: </label> <label style="color:red">@ViewBag.IDet</label>
    </div>
    <div>
        <label>Animal Details: </label> <label style="color:red">@ViewBag.AnimalImage</label>
    </div>
    @*<div class="text-center">
            <img src="data:image/jpg;base64,@Convert.ToBase64String(Model..Animal_Image)" class="avatar img-circle img-thumbnail" alt="avatar">
            <h6>Upload an animal photo...</h6>
            <input type="file" name="animalPicture" class="text-center center-block file-upload">
        </div>*@
    <hr />
    <br />

    <div>
        @Html.ActionLink("Back", "HomeCheckIndex", "Adoptions", null, new { @class = "btn btn-primary glyphicon glyphicon-circle-arrow-left", @Title = "Click to go Back" })
        @Html.ActionLink("Refresh", "HomeCheckschedule", "Adoptions", null, new { @class = "btn btn-secondary glyphicon glyphicon-refresh", @Title = "Click to Refresh this page" })
        <input type="submit" name="save" value="Save" class="btn btn-success center-block glyphicon glyphicon-floppy-disk" style="float:right" title="Click to Save HomeCheck Appointment" />

    </div>

    @*<div >

            <input type="button" name="reset" value="Reset" class="btn btn-default" />
        </div>*@

</div>
        }
    </div>

<script>
     var today = new Date();
    document.getElementById("HCSdate").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
</script>