@model IEnumerable<AdoptifySystem.Adoption>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="" style="text-align:center;padding-left:120px">
        <div class="col-sm-10" style='background-color: #2ba6cb'>
            <h1 style='color:white'>All Adoptions in Progress Information</h1>
        </div>
    </div>
    @*<div class="newButton">
            @Html.ActionLink("Adoption Tutorial Video", "VideoView", "Videoplayer", null, new { @class = "btn btn-danger glyphicon glyphicon-plus" })
        </div>
        <br />*@
    <div class="newButton">
        @Html.ActionLink("Adoption Tutorial Video", "VideoView", "Videoplayer", null, new { @class = "btn btn-danger glyphicon glyphicon-plus", @style = "float:right", @Title = "Click to Go watch Adoption Tutorial Video" })
        @Html.ActionLink("Create New", "Create", "Adoptions", null, new { @class = "btn btn-success glyphicon glyphicon-plus", @Title = "Click to Add New Adoption" })
    </div>
    <p>
        @using (Html.BeginForm("Index", "Adoptions", FormMethod.Get))
        {
            <b>Search by:</b>@Html.RadioButton("Searchby", "Animal_Name", true) <text>Animal Name</text>
            @Html.RadioButton("Searchby", "Adoptor_Name")<text> Adoptor Name</text><br />
            @Html.TextBox("search")<input type="submit" value="Search" ? />
        }
    </p>

    <table class="table-bordered table">
        <tr class="table-primary">
            <th>
                Adoption Date
            </th>
            <th>
                Adopter Details
            </th>
            <th>
                Animal Details
            </th>
            @*<th>
                    Adoption Form
                </th>*@
            @*<th>
                    Collection Date
                </th>

                <th>
                    Payment Description
                </th>*@
            <th>
                Adoption Status
            </th>
            <th>
                Action
            </th>
        </tr>
        @try
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adoption_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adopter.Adopter_Name)  @Html.DisplayFor(modelItem => item.Adopter.Adopter_Surname), @Html.DisplayFor(modelItem => item.Adopter.Adopter_Address), @Html.DisplayFor(modelItem => item.Adopter.Adopter_CellNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Animal.Animal_Name) , @Html.DisplayFor(modelItem => item.Animal.Animal_Type.Animal_Type_Name), @Html.DisplayFor(modelItem => item.Animal.Animal_Breed.Animal_Breed_Name), @Html.DisplayFor(modelItem => item.Animal.Animal_Age) years old
                    </td>

                    @*<td>
                            @Html.DisplayFor(modelItem => item.Adoption_Form)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Collection_Date)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Payment.Payment_Description)
                        </td>*@
                    <td>

                        @Html.DisplayFor(modelItem => item.Adoption_Status.Adopt_Status_Name)

                    </td>
                    <td>
                        @if (item.Adopt_Status_ID == 1@*|| item.Adopt_Status_ID == 2 || item.Adopt_Status_ID == 3 || item.Adopt_Status_ID == 4 || item.Adopt_Status_ID == 5*@)
{
@Html.ActionLink("Delete", "Delete", "Adoptions", new { id = item.Adoption_ID }, new { @class = "btn btn-danger glyphicon glyphicon-trash", @Title = "Click to Delete/Cancel Adoption" })
}
                        @if (item.Adopt_Status_ID == 1)
                        {
                            @Html.ActionLink("Upload Doctuments", "FileView", "Adoptionfile", null, new { @class = "btn btn-primary glyphicon glyphicon-trash", @Title = "Click to Upload Adoption Doctuments" })
                        }
                        @if (item.Adopt_Status_ID == 1)
                        {
                            @Html.ActionLink("Go to Schedule HomeCheck Page", "HomeCheckIndex", "Adoptions", null, new { @class = "btn btn-success glyphicon glyphicon-trash", @Title = "Click to go Schedule HomeCheck" })
                        }

                        @if (item.Adopt_Status_ID == 2)
                        {
                            @Html.ActionLink("Go to HomeCheck Report Page", "HomeCheckReportIndex", "Adoptions", null, new { @class = "btn btn-success glyphicon glyphicon-trash", @Title = "Click to go to HomeCheck Report" })
                        }
                        @if (item.Adopt_Status_ID == 3)
                        {
                            @Html.ActionLink("Go to Adoption Payment Page", "AdoptionPaymentIndex", "Adoptions", null, new { @class = "btn btn-success glyphicon glyphicon-trash", @Title = "Click to go to Adoption Payment Page" })
                        }
                        @if (item.Adopt_Status_ID == 4)
                        {
                            @Html.ActionLink("ReSchedule HomeCheck", "HomeCheckIndex", "Adoptions", null, new { @class = "btn btn-warning glyphicon glyphicon-trash", @Title = "Click to go Reschedule HomeCheck" })
                        }
                        @if (item.Adopt_Status_ID == 5)
                        {
                            @Html.ActionLink("Go to Collect Animal Page", "CollectionIndex", "Adoptions", null, new { @class = "btn btn-success glyphicon glyphicon-trash", @Title = "Click to go to Collect Animal Page" })
                        }
                        @if (item.Adopt_Status_ID == 6)
                        {
                            @Html.ActionLink("Go to Finalise Adoption Page", "Finalise", "Adoptions", new { id = item.Adoption_ID }, new { @class = "btn btn-success glyphicon glyphicon-trash", @Title = "Click to go to Finalise Adoption Page" })
                        }
                    </td>
                </tr>

            }
        }
        catch (Exception e)
        {

        }


    </table>
    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-warning glyphicon glyphicon-remove-sign", @Title = "Click to go Back to Home" })
    @Html.ActionLink("Refresh", "Index", "Adoptions", null, new { @class = "btn btn-primary glyphicon glyphicon-refresh", @Title = "Click to Refresh this page" })
</div>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["HomeCheckMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        $(function () {
            var successMessage = '@TempData["AdoptionCreateMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        $(function () {
            var successMessage = '@TempData["AdoptionDeleteMessage"]'
            if (successMessage != '')
                alertify.error(successMessage);
        });
       $(function () {
            var successMessage = '@TempData["HomeCheckReportMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
       });
        $(function () {
            var successMessage = '@TempData["HomeCheckReportErrorMessage"]'
            if (successMessage != '')
                alertify.error(successMessage);
        });

        $(function () {
            var successMessage = '@TempData["PaymentMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        $(function () {
            var successMessage = '@TempData["CollectMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        $(function () {
            var successMessage = '@TempData["FinaliseMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        $(function () {
            var successMessage = '@TempData["ReturnMessage"]'
            if (successMessage != '')
                alertify.error(successMessage);
        });

        $(function () {
            var successMessage = '@TempData["FileUploadMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

    </script>
}