@model IEnumerable<AdoptifySystem.Adoption>

@{
    ViewBag.Title = "ReturnIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="color:green">@ViewBag.Message</h2><br />
<div id="main">
    <div class="" style="text-align:center;padding-left:120px">
        <div class="col-sm-10" style='background-color: #2ba6cb'>
            <h1>Adoption Information for Returning Animal</h1>
        </div>
    </div>

    <hr />
    <p>
        @using (Html.BeginForm("Index", "Adoptions", FormMethod.Get))
            {
            <b>Search by:</b>@Html.RadioButton("Searchby", "Animal_Name", true) <text>Animal Name</text>
            @Html.RadioButton("Searchby", "Adoptor_Name")<text> Adoptor Name</text><br />
                @Html.TextBox("search")<input type="submit" value="Search" ? />
        }
    </p>

    <table class="table-bordered table">
        <tr class="table-primary">
            <th>
                Adoption Date
            </th>
            <th>
                Adopter Details
            </th>
            <th>
                Animal Details
            </th>
            @*<th>
                    Adoption Form
                </th>
                <th>
                    Collection Date
                </th>

                <th>
                    Payment Description
                </th>*@
            <th>
                Adoption Status
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adoption_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adopter.Adopter_Name)  @Html.DisplayFor(modelItem => item.Adopter.Adopter_Surname), @Html.DisplayFor(modelItem => item.Adopter.Adopter_Address), @Html.DisplayFor(modelItem => item.Adopter.Adopter_CellNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.Animal_Name) , @Html.DisplayFor(modelItem => item.Animal.Animal_Type.Animal_Type_Name), @Html.DisplayFor(modelItem => item.Animal.Animal_Breed.Animal_Breed_Name), @Html.DisplayFor(modelItem => item.Animal.Animal_Age) years old
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Adoption_Form)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Collection_Date)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Payment.Payment_Description)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Adoption_Status.Adopt_Status_Name)
        </td>
        <td>
            @* @Html.ActionLink("Refresh", "Index", "Adoptions", null, new { @class = "btn btn-default glyphicon glyphicon-refresh" })*@
            @Html.ActionLink("Return Animal", "ReturnAnimal", "Adoptions", new { id = item.Adoption_ID }, new { @class = "btn btn-warning glyphicon glyphicon-transfer" })

        </td>
    </tr>
        }


    </table>
    @Html.ActionLink("Cancel", "Index", "Adoptions", null, new { @class = "btn btn-warning glyphicon glyphicon-remove-sign" })
    @Html.ActionLink("Refresh", "ReturnIndex", "Adoptions", null, new { @class = "btn btn-primary glyphicon glyphicon-refresh" })
</div>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["ReturnMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Wollies Adoption Process', ' Are You Sure you want to Return this Animal and cancel The Adoption ?', function () {
                window.location.href = '@Url.Action("ReturnAnimal","Adoptions")/' + id;
            }, null);
        }
</script>
}