@model AdoptifySystem.Models.Volunteer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="main">
        <br />
        <div class="" style="text-align:center;padding-left:120px">
            <div class="col-sm-10" style='background-color: #2ba6cb'>
                <h1 style="color:white">Add Volunteer</h1>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Vol_Name, htmlAttributes: new { @class = "control-label col-md-2", @Title = "Enter Volunteer Name" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Vol_Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Volunteer Name" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.Vol_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Vol_Surname, htmlAttributes: new { @class = "control-label col-md-2", @Title = "Enter Volunteer Surname" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Vol_Surname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Volunteer Surname" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.Vol_Surname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Vol_Email, htmlAttributes: new { @class = "control-label col-md-2", @Title = "Enter Volunteer Email" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Vol_Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Volunteer Email" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.Vol_Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Vol_ContactNumber, htmlAttributes: new { @class = "control-label col-md-2", style = "display:inline;", @Title = "Enter Volunteer Contact Number" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Vol_ContactNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Volunteer Contact Number" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.Vol_ContactNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Vol_Address, htmlAttributes: new { @class = "control-label col-md-2", @Title = "Enter Volunteer Address" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Vol_Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Volunteer Address" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.Vol_Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Vol_Emergency_ContactName, htmlAttributes: new { @class = "control-label col-md-2", style = "display:inline;", @Title = "Enter Volunteer Emergency Contact Name" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Vol_Emergency_ContactName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Volunteer Emergency Contact Name" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.Vol_Emergency_ContactName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Vol_Emergency_ContactNumber, htmlAttributes: new { @class = "control-label col-md-2", style = "display:inline;", @Title = "Enter Volunteer Emergency Contact Number" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Vol_Emergency_ContactNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Volunteer Emergency Contact NumberS" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.Vol_Emergency_ContactNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Title_ID, "Volunteer Title", htmlAttributes: new { @class = "control-label col-md-2", @Title = "Enter Volunteer Title" })
                    <div class="col-md-10">
                        @Html.DropDownList("Title_ID", null, htmlAttributes: new { @class = "form-control", placeholder = "Enter Volunteer Title" })
                        <br />
                        @Html.ValidationMessageFor(model => model.Title_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <br />
                        @Html.ActionLink("Back to List", "Index", "Adopters", new { @class = "btn btn-dark", style = "float:right", @Title = "Click to go Back" })
                        <input type="submit" value="Save" class="btn btn-success" style="float:right" title="Click to Save Volunteer" />
                        <br />
                    </div>
                </div>
            </div>
        }
        </div>


