@model AdoptifySystem.Models.nickeymodel.Innovation
@{
    ViewBag.Title = "AddEmployee";
}
<head>
    <style>
        .row {
            display: flex;
        }

        .column {
            flex: 50%;
        }
    </style>
</head>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Employee Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile">User Details</a>
    </li>
</ul>
@using (Html.BeginForm("AddEmployee", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="myTabContent" class="tab-content">
        <div id="home" class="tab-pane fade show active">

            <div>
                <h1 align="center">Add Employee</h1>
            </div>
            @Html.AntiForgeryToken()
            <div>
                <div class="col-sm-12 table-primary"><h2>Employee Details</h2></div>
            </div>
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label><b>Employee Type</b></label>
                <div class="col-md-5" style="width:25%;">
                    <select class="custom-select" name="EmployeeType">
                        @if (Model.empTypes != null)
                        {
                            <option>---Select---</option>
                            foreach (var item in Model.empTypes)
                            {
                                <option value="@item.Emp_Type_ID">@item.Emp_Type_Name</option>
                            }
                        }
                        else
                        {
                            <option></option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label ><b>Title</b> </label>
                <div class="col-md-5" style="width:25%;">
                    <select class="custom-select" name="Title">
                        @if (Model.Titles != null)
                        {
                            <option>---Select---</option>
                            foreach (var item in Model.Titles)
                            {
                                <option value="@item.Title_ID">@item.Title_Description</option>
                            }

                        }

                    </select>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-md-10"><b>Gender</b> </label><br />
                <div class="custom-control custom-radio">
                    <input type="radio" name="Gender" value="Male" id="Male" class="custom-control-input">
                    <label class="custom-control-label" for="Male"><b>Male</b></label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="Gender" value="Female" id="Female" class="custom-control-input">
                    <label class="custom-control-label" for="Female"><b>Female</b></label>
                </div>
            </div>
            <div class="form-group">
                <label><b>Employee Name </b></label>
                <div class="col-md-10">
                    <input name="Emp_Name" class="form-control" type="text" placeholder="Enter Name" required />
                </div>
            </div>
            <div class="form-group">
                <label><b>Employee Surname</b> </label>
                <div class="col-md-10">
                    <input name="Emp_Surname" class="form-control" type="text" placeholder="Enter Surname" required />
                </div>
            </div>
            <div class="form-group">
                <label><b>Employee Contact Number</b> </label>
                <div class="col-md-10">
                    <input name="Emp_ContactNumber" class="form-control" type="text" placeholder="Enter Contact Details" required />
                </div>
            </div>
            <div class="form-group">
                <label><b>Employee ID Number </b> </label>
                <div class="col-md-10">
                    <input name="Emp_IDNumber" class="form-control" type="text" placeholder="Enter ID/Passport Number" required />
                </div>
            </div>
            <div class="form-group">
                <label><b>Employee Email</b></label>
                <div class="col-md-10">
                    <input name="Emp_Email" class="form-control" type="text" placeholder="Enter Email Address" required />
                </div>
            </div>
            <div class="form-group">
                <label><b>Employee Date_Employe</b></label>
                <div class="col-md-10">
                    <input id="Emp_Date_Employed" name="Emp_Date_Employed" class="form-control" type="date" placeholder="MM/DD/YY" required />
                </div>
            </div>
            <div class="form-group">
                <label><b>Employee Contract</b></label>
                <div class="col-md-10">
                    <input type="file" name="Contract" id="FileName" class="form-control" />
                    @Html.ValidationMessageFor(model => model.employee.Emp_Contract, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile">
            <div class="form-group">
                <label><b>Employee Username</b></label>
                <div class="col-md-10">
                    <input name="Username" class="form-control" type="text" placeholder="Enter Username" />
                </div>
            </div>
            <div class="form-group">
                <label><b>Employee Password</b></label>
                <div class="col-md-10">
                    <input name="Password" type="text" class="form-control" id="Password" placeholder="Enter Password" maxlength="8" />
                </div>
            </div>
            @*///script*@
            <script>
                var today = new Date();
                document.getElementById("Emp_Date_Employed").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
                function myPassword() {
                    var a = document.getElementById("Password").value;
                    var b = document.getElementById("Passwords").value;


                    if (a != b) {
                        document.getElementById("messages").innerHTML;
                        return false;
                    }
                }
            </script>
            
            <div class="column">
                <div>
                    <div class="col-sm-12 table-primary"><h1>Assign User Role </h1></div>
                </div>
                <label><b>Please Select Level Of Accessiblity:</b></label>
                <div>

                    @if (Model.Roles != null)
                    {


                        foreach (var item in Model.Roles)
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Role @item.Role_ID" name="Role" value="@item.Role_ID">
                                <label class="custom-control-label" for="Role @item.Role_ID">@item.Role_Name</label>
                                <br>
                            </div>
                        }
                    }

                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" name="button" value="Save" onsubmit="myPassword" class="btn btn-success float-right">Save</button>
                @*<input type="submit" name="button"  value="Save" class="btn btn-default" />*@
                <input type="reset" name="button" value="Reset" class="btn" />
                <button type="button" name="button" value="Cancel" class="btn btn-warning">Cancel</button>
            </div>
        </div>
    </div>
}
