@model AdoptifySystem.Models.nickeymodel.Innovation
@{
    ViewBag.Title = "AddEmployee";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .row {
            display: flex;
        }

        .column {
            flex: 50%;
        }
    </style>
</head>
@using (Html.BeginForm("AddEmployee", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <h1 align="center">Add Employee</h1>
    </div>
    <div class="row">
        <div class="column">
            @Html.AntiForgeryToken()
            <div>
                <div class="col-sm-10" style='background-color: #2ba6cb'><h2 style="color:white;">Employee Details</h2></div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label><b>Title</b> </label>
                <div class="col-md-10">
                    <select name="Title">
                        @if (Model.Titles != null)
                        {
                            foreach (var item in Model.Titles)
                            {
                                <option>@item.Title_Description</option>
                            }

                        }

                    </select>
                </div>
            </div>

            <div class="form-group">
                <label><b>Employee Type</b></label>
                <div class="col-md-10">
                    <select name="EmployeeType">
                        @if (Model.empTypes == null)
                        {
                            foreach (var item in Model.empTypes)
                            {
                                <option>@item.Emp_Type_Name</option>
                            }
                        }
                        else
                        {
                            <option>Go add Employee type</option>
                        }
                    </select>
                </div>
            </div>


            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" name="Gender" value="Male" id="Male">
                <label for="customRadio1"><b>Male</b></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" name="Gender" value="Female" id="Female">
                <label for="customRadio2"><b>Female</b></label>
            </div>
            <div class="form-group">
                <label><b>Name </b></label>
                <div class="col-md-10">

                    <input name="Emp_Name" type="text" placeholder="Enter Name" />

                </div>
            </div>
            <div class="form-group">
                <label><b>Surname</b> </label>
                <div class="col-md-10">

                    <input name="Emp_Surname" type="text" placeholder="Enter Surname" />

                </div>
            </div>
            <div class="form-group">
                <label><b>Contact Details</b> </label>
                <div class="col-md-10">
                    <input name="Emp_ContactNumber" type="text" placeholder="Enter Contact Details" />
                </div>
            </div>
            <div class="form-group">
                <label><b>ID/Passport Number</b> </label>
                <div class="col-md-10">
                    <input name="Emp_IDNumber" type="text" placeholder="Enter ID/Passport Number" />
                </div>
            </div>
            <div class="form-group">
                <label><b>Email Address </b></label>
                <div class="col-md-10">
                    <input name="Emp_Email" type="text" placeholder="Enter Email Address" />
                </div>
            </div>
            <div class="form-group">
                <label><b>Date Of Employment</b></label>
                <div class="col-md-10">
                    <input name="Emp_Date_Employed" type="datetime" placeholder="MM/DD/YY" />
                </div>
            </div>
            <div class="form-group">
                <label><b>Contract</b></label>
                <div class="col-md-10">
                    <input type="file" name="Contract" id="FileName" class="form-control" />
                    @Html.ValidationMessageFor(model => model.employee.Emp_Contract, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label><b>Username</b></label>
                <div class="col-md-10">
                    <input name="Username" type="text" placeholder="Enter Username" />
                </div>
            </div>
            <div class="form-group">
                <label><b>Password</b></label>
                <div class="col-md-10">
                    <input name="Password" type="text" placeholder="Enter Password" />
                </div>
            </div>
            <div class="form-group">
                <label><b>Verify Password</b></label>
                <div class="col-md-10">
                    <input name="Password" type="text" placeholder="Enter Verified Password" />
                </div>
            </div>
        </div>
    </div>


    <div class="column">
        <div>
            <div class="col-sm-10" style='background-color: #2ba6cb'><h style="color:white;">Assign User Role </h></div>
        </div>
        <label><b>Please Select Level Of Accessiblity:</b></label>
        <div>

            <input type="checkbox" name="Role" value="1">
            <label for="defaultUnchecked">Unlimited Access To All Subsystems</label>
            <br>
            <input type="checkbox" name="Role" value="2">
            <label for="defaultUnchecked">Animal</label>
            <br>
            <input type="checkbox" name="Role" value="3">
            <label for="defaultUnchecked">Adoption </label>
            <br>
            <input type="checkbox" name="Role" value="4">
            <label for="defaultUnchecked">Admin</label>
            <br>
            <input type="checkbox" name="Role" value="5">
            <label for="defaultUnchecked">Foster Care</label>
            <br>
            <input type="checkbox" name="Role" value="6">
            <label for="defaultUnchecked">Veterianarian</label>
            <br>
            <input type="checkbox" name="Role" value="7">
            <label for="defaultUnchecked">Employee</label>
            <br>
            <input type="checkbox" name="Role" value="8">
            <label for="defaultUnchecked">Donations</label>
            <br>
            <input type="checkbox" name="Role" value="9">
            <label for="defaultUnchecked">Stock</label>
            <br>
            <input type="checkbox" name="Role" value="10">
            <label for="defaultUnchecked">Event</label>
            <br>
            <input type="checkbox" name="Role" value="11">
            <label for="defaultUnchecked">Kennel</label>
            <br>
            <input type="checkbox" name="Role" value="12">
            <label for="defaultUnchecked">Volunteer</label>
            <br>
            <input type="checkbox" name="Role" value="13">
            <label for="defaultUnchecked">Report</label>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="button" value="Save" class="btn btn-default" />
            <input type="reset" name="button" value="Reset" class="btn" />
            <button type="button" name="button" value="Cancel" class="btn btn-warning">Cancel</button>
        </div>
    </div>
}

