@model AdoptifySystem.Models.Employee

@{
    ViewBag.Title = "Create";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .row {
            display: flex;
        }

        .column {
            flex: 50%;
        }
    </style>
</head>

@using (Html.BeginForm())
{
    <div>
        <h1 align="center">Add Employee</h1>
    </div>
    <div class="row">

        <div class="column">
            @Html.AntiForgeryToken()
            <div>
                <div class="col-sm-10" style='background-color: #2ba6cb'><h22 style="color:white;">Employee Details</h22></div>

            </div>
            @*<div class="form-horizontal">
                <h4>Employee</h4>
                <hr />*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label>Title </label>
                @*@Html.LabelFor(model => model.Title_ID, "Title_ID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.DropDownList("Title_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Employee Type</label>
                @*@Html.LabelFor(model => model.Emp_Type_ID, "Emp_Type_ID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.DropDownList("Emp_Type_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Emp_Type_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="Male">
                <label class="custom-control-label" for="customRadio1">Male</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="Female">
                <label class="custom-control-label" for="customRadio2">Female</label>
            </div>
            <div class="form-group">

                <label>Name </label>
                @*@Html.LabelFor(model => model.Emp_Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Emp_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Emp_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Surname </label>
                @*@Html.LabelFor(model => model.Emp_Surname, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Emp_Surname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Emp_Surname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Contact Details </label>
                @*@Html.LabelFor(model => model.Emp_ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Emp_ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Emp_ContactNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>ID/Passport Number </label>
                @*@Html.LabelFor(model => model.Emp_IDNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Emp_IDNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Emp_IDNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Email Address </label>
                @Html.LabelFor(model => model.Emp_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Emp_Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Emp_Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Contract</label>
                @*@Html.LabelFor(model => model.Emp_Contract, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Emp_Contract, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Emp_Contract, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Date Of Employment</label>
                @*@Html.LabelFor(model => model.Emp_Date_Employed, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Emp_Date_Employed, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Emp_Date_Employed, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>


    <div class="column">
        <div>
            <div class="col-sm-10" style='background-color: #2ba6cb'><h style="color:white;">Assign User Role </h></div>

        </div>
        <label>Please Select Level Of Accessiblity</label>

        <div class="custom-control custom-checkbox">

            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Unlimited Access To All Subsystems</label>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Animal</label>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Adoption </label>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Admin</label>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Foster Care</label>
        </div>


        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Veterianarian</label>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Employee</label>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Donations</label>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Stock</label>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Event</label>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Kennel</label>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Volunteer</label>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Report</label>
        </div>



    </div>
    




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
            <input type="reset" value="Reset" class="btn" />
            <button type="button" name="button" class="btn btn-warning">Cancel</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
