@model AdoptifySystem.Employee_Type
@{
    ViewBag.Title = "MaintainEmployeeType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div id="main">

        <div class="col-sm-12 table-primary"><h1>Maintain Employee Type</h1></div>

        <input id="Emp_Type_ID" name="Emp_Type_ID" value="@Model.Emp_Type_ID" hidden />
        <div class="form-horizontal">
            <h4 style="color:red">@ViewBag.errormessage</h4>
            <hr />
            <div class="form-group">
                <label>Employee Type Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Emp_Type_Name" name="Emp_Type_Name" value="@Model.Emp_Type_Name" placeholder="Employee Type Name">
                </div>
            </div>
            <div class="form-group">
                <label>Employee Type Description</label>
                <div class="col-md-10">
                    <textarea type="text" class="form-control" id="Emp_Type_Description" name="Emp_Type_Description" value="@Model.Emp_Type_Description" placeholder="Employee Type Description">@Model.Emp_Type_Description</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" name="button" value="Cancel" class="btn btn-warning">Cancel</button>
                    <button type="submit" name="button" value="Save" onclick="Save()" class=" btn btn-success float-right">Save</button>
                </div>
            </div>
        </div>
</div>
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
         $(function () {
            var successMessage = '@TempData["EditMessage"]'
            if (successMessage != '')
                alertify.warning(successMessage);
         });
        $(function () {
            var successMessage = '@TempData["DeleteMessage"]'
            if (successMessage != '')
                alertify.error(successMessage);
        });

function Save() {

                var Emp_Type_ID = document.getElementById("Emp_Type_ID");
                var Emp_Type_Name = document.getElementById("Emp_Type_Name");
                var Emp_Type_Description = document.getElementById("Emp_Type_Description");

                var isvalid = true;

                if (Emp_Type_Name.value == "") {
                    //first remove
                    Emp_Type_Name.classList.remove("is-valid");
                    //then add the class you want
                    Emp_Type_Name.classList.add("is-invalid");
                    isvalid = false;
                } else {
                    //first remove
                    Emp_Type_Name.classList.remove("is-invalid");
                    //then add the class you want
                    Emp_Type_Name.classList.add("is-valid");
                }
                if (isvalid) {

                    var formData = new FormData();
                    formData.append("Emp_Type_ID", Emp_Type_ID.value );
                    formData.append("Emp_Type_Name", Emp_Type_Name.value );
                    formData.append("Emp_Type_Description", Emp_Type_Description.value);

                    $("#loader").show();
                $.ajax(
                    {
                    type: "POST",
                    data: formData,
                    url: "/Employees/MaintainEmployeeType",
                        cache: false,
                        contentType: false,
                        processData: false,
                    success: function (d) {
                        $("#loader").hide();
                        isvalid = true;

                    },
                    error: function (error) {
                        $("#loader").hide();
                        isvalid = false;
                        alert("There was an internal error try again later" + error);
                }
            });

                    if (isvalid)
                    {
                        location.href = '@Url.Action("SearchEmployeeType","Employees")';
                    }

                }
            }
    </script>
}
