@model AdoptifySystem.Models.nickeymodel.Flexible

@{
    ViewBag.Title = "Add Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class=" border-primary card">
    <h2 class="table-primary">Add Stock</h2>
    <br />
    @using (Html.BeginForm())
    {

        <label></label>
        if (Model.Stock_Types != null)
        {
            <select name="Stock_Type_ID" id="exampleList" class="custom-select" style="width:25%;">

                @foreach (var item in Model.Stock_Types)
                {
                    <option value="@item.Stock_Type_ID">@item.Stock_Type_Name</option>

                }
            </select>
        }
        <br />
        <h1 class="table-primary">Food Detail</h1><br />
        <div class="row" style="margin-left:4px; margin-right:4px;">
            <div class="column" style="width:50%;">
                <h2>Food Packaging Type:</h2><br />
                <div id="RadioFood_Packaging_Type" class="form-group">
                    @foreach (var item in Model.packaging_Types)
                {
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio @item.Packaging_Type_ID" name="Packaging_Type_ID" value="@item.Packaging_Type_ID" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio @item.Packaging_Type_ID">@item.Packaging_Type_Name</label>
                    </div>
                }
                </div>
            </div>
            <div class="column" style="width:50%;" >
                <h2>Unit Type:</h2>
                <div id="RadioUnit_Type" class="form-group">
                    @foreach (var item in Model.unit_Types)
                {
                    <div class="custom-control custom-radio" >
                        <input type="radio" id="exampleRadios @item.Unit_Type_ID" name="Unit_Type_ID" value="@item.Unit_Type_ID" class="custom-control-input">
                        <label class="custom-control-label" for="exampleRadios @item.Unit_Type_ID"> @item.Unit_Type_Name</label>
                    </div>
                }
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="exampleInputEmail1">Units:</label>
            <input type="number" name="Unit_number" style="width:40%;"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Units">
            <small id="emailHelp" class="hide text-muted">Add size of units here</small>
        </div>
        <h1 class="table-primary">Stock Detail</h1>
        <div class="form-group">
            <label for="exampleInputEmail1">Number of Items:</label>
            <input type="number" name="Stock_Quantity" style="width:50%;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Number of Items" />
            <small id="emailHelp" class="hide form-text text-muted">Add the Stock Quantity</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description:</label>
            <textarea type="tel" name="Stock_Description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Stock Description"></textarea>
            <small id="emailHelp" class="hide form-text text-muted">Add Description of the Stock</small>
        </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" name="button" value="Cancel" class="btn btn-warning">Cancel</button>
            <button type="submit" name="button" value="Save" class=" btn btn-success float-right">Save</button>
        </div>
    </div>
    }

</div>