@model AdoptifySystem.Models.nickeymodel.Flexible
@{
    ViewBag.Title = "CaptureStockTake";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class=" border-primary card">
    <h1 class="table-primary">CaptureStockTake</h1>
    @using (Html.BeginForm())
    {

        <label>Select Stock Type</label> <input type="text" name="Stock_ID" value="@Model.stock.Stock_ID" hidden /><br />
        if (Model.Stock_Types != null)
        {
            <select disabled name="Stock_Type_ID" id="exampleList" class="custom-select" style="width:25%;">
                @foreach (var item in Model.Stock_Types)
                {
                    if (Model.stock.Stock_Type_ID == item.Stock_Type_ID)
                    {
                        <option selected value="@item.Stock_Type_ID">@item.Stock_Type_Name</option>
                    }
                    else
                    {
                        <option value="@item.Stock_Type_ID">@item.Stock_Type_Name</option>

                    }
                }
            </select>
        }
        <br />
        <br />
        <h1 class="table-primary">Food Detail</h1><br />
        <div class="row" style="margin-left:4px; margin-right:4px;">
            <div class="column" style="width:50%;">
                <h2>Food Packaging Type:</h2>
                <div id="RadioFood_Packaging_Type" class="form-group">
                    @foreach (var item in Model.packaging_Types)
                    {
                        if (Model.stock.Packaging_Type_ID == item.Packaging_Type_ID)
                        {
                            <div class="custom-control custom-radio">
                                <input type="radio" disabled id="customRadio @item.Packaging_Type_ID" name="Packaging_Type_ID" value="@item.Packaging_Type_ID" class="custom-control-input" checked="">
                                <label class="custom-control-label" for="customRadio @item.Packaging_Type_ID">@item.Packaging_Type_Name</label>
                            </div>
                        }
                        else
                        {

                            <div class="custom-control custom-radio">
                                <input type="radio" disabled id="customRadio @item.Packaging_Type_ID" name="Packaging_Type_ID" value="@item.Packaging_Type_ID" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio @item.Packaging_Type_ID">@item.Packaging_Type_Name</label>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="column" style="width:50%;">
                <h2>Unit Type:</h2>
                <div id="RadioUnit_Type" class="form-group">
                    @foreach (var item in Model.unit_Types)
                    {
                        if (Model.stock.Unit_Type_ID == item.Unit_Type_ID)
                        {
                            <div class="custom-control custom-radio">
                                <input type="radio" disabled id="exampleRadios @item.Unit_Type_ID" name="Unit_Type_ID" value="@item.Unit_Type_ID" class="custom-control-input" checked="">
                                <label class="custom-control-label" for="exampleRadios @item.Unit_Type_ID"> @item.Unit_Type_Name</label>
                            </div>
                        }
                        else
                        {

                            <div class="custom-control custom-radio">
                                <input type="radio" disabled id="exampleRadios @item.Unit_Type_ID" name="Unit_Type_ID" value="@item.Unit_Type_ID" class="custom-control-input">
                                <label class="custom-control-label" for="exampleRadios @item.Unit_Type_ID"> @item.Unit_Type_Name</label>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <br />
        <div class="form-group" style="margin-left:4px; margin-right:4px;">
            <label for="exampleInputEmail1">Units:</label>
            <input type="number" readonly name="Unit_number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.stock.Unit_number" placeholder="Enter Units">
            <small id="emailHelp" class="hide text-muted">This displays size of Unit.</small>
        </div>
        <h1 class="table-primary">Stock Detail</h1>
        <div style="margin-left:4px; margin-right:4px;">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Number of Items Available:</label>
                        <input type="number" readonly class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.stock.Stock_Quantity" placeholder="Enter Number of Items" />
                        <small id="emailHelp" class="hide form-text text-muted">Displays Stock Quantity available.</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Number of Items You would like to Remove:</label><br />
                        <input type="number" name="Stock_Quantity" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Number of Items" />
                        <small id="emailHelp" class="hide form-text text-muted">Add the Quantity of Stock that needs to be removed.</small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Description:</label><br />
                <textarea type="text" readonly name="Stock_Description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.stock.Stock_Description" placeholder="Enter Description">@Model.stock.Stock_Description</textarea>
                <small id="emailHelp" class="hide form-text text-muted">Add Description of the Stock.</small>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Cancel", "SearchStock", new { @class = "btn btn-warning" ,@title="Click to go back to Search Stock screen" })
                    <button type="submit" name="button" value="Save" title="Click to update Details" class=" btn btn-success float-right">Save</button>
                </div>
            </div>
        </div>
    }
</div>

