@model AdoptifySystem.Models.nickeymodel.Flexible
@{
    ViewBag.Title = "RemovefromFosterCare";

}

<mat-toolbar class="form-header ">
    <h1 class="mat-headline center-align table-primary">Remove Animal from Foster</h1>
</mat-toolbar>
<div>
    <div>
        @using (Html.BeginForm("searchfostercare", "FosterCare"))
        {
            <div class="form-group" style="padding: 0 20px;">
                <label>Search Foster Care Parent</label>
                <br>
                <input class="form-control" autocomplete="off" name="search" type="text" placeholder="Search For Foster Care Parent">
                <button type="submit" title="Click to Search Parent" class="btn btn-lg btn-primary">Search</button>
            </div>
        }
    </div>
    <mat-toolbar class="form-header ">
        <h1 class="mat-headline center-align table-primary">Current Animals Foster Caring</h1>
    </mat-toolbar>
    @if (Model.Fostercarelist != null)
    {

        <table class="table table-bordered">
            <thead class="table-primary">
                <tr>
                    <td>Parent Name</td>
                    <td>Parent Surname</td>
                    <td>Animal Name</td>
                    <td> </td>
                </tr>
            </thead>
            @foreach (var item in Model.Fostercarelist)
            {
                <tr>
                    <td>@item.Foster_Care_Parent.Foster_Parent_Name</td>
                    <td>@item.Foster_Care_Parent.Foster_Parent_Surname</td>
                    <td>@item.Animal.Animal_Name</td>
                    <td><button class="btn btn-danger" data-toggle="modal" title="Click to remove" data-target="#@item.Foster_Parent_ID">Remove</button></td>
                </tr>
                <div class="modal fade" id="@item.Foster_Parent_ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-primary">
                                <h2 class="modal-title" id="exampleModalLongTitle">Are you sure you want to remove <b>@item.Animal.Animal_Name</b> from Foster Care?</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span class="value">Foster Care Parent:</span>
                                @item.Foster_Care_Parent.Foster_Parent_Name  @item.Foster_Care_Parent.Foster_Parent_Surname<br />
                                <span class="value">Location:</span>
                                @Html.DisplayFor(modelItem => item.Foster_Care_Parent.Foster_Parent_Address) <br />
                                <span class="value">Animal Name:</span>
                                @Html.DisplayFor(modelItem => item.Animal.Animal_Name) <br />
                                <span class="value">Animal Age:</span>
                                @Html.DisplayFor(modelItem => item.Animal.Animal_Age) <br />
                                <span class="value">Date assigned:</span>
                                @Html.DisplayFor(modelItem => item.Foster_Start_Date) <br />
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                @Html.ActionLink("Remove", "removefromfostercarelist", new { id = item.Foster_Care_ID }, new { @style = "color: white", @class = "btn btn-danger", @title = "Click to remove" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </table>

        @Html.ActionLink("Save", "saveremovefostercare", null, new { @class = "btn btn-success", @title = "Click to Save" });
    }
    else
    {
        <table class="table table-bordered">
            <thead class="thead-light"></thead>
            <tbody>
                <tr>No Results</tr>
            </tbody>
        </table>
    }
</div>