@model AdoptifySystem.Wolly

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Add Wollies Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.Co_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Co_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Co_ID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label>Enter Organisation Name:</label>
            @*@Html.LabelFor(model => model.Org_Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Org_Name, new { htmlAttributes = new { @class = "form-control" }, placeholder = "Enter Organisation Name", required = "required" })
                @Html.ValidationMessageFor(model => model.Org_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Enter Organisation Address:</label>
            @*@Html.LabelFor(model => model.Org_Address, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Org_Address, new { htmlAttributes = new { @class = "form-control" }, placeholder = "Enter Organisation Address", required = "required" })
                @Html.ValidationMessageFor(model => model.Org_Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Enter Organisation Type:</label>
            @*@Html.LabelFor(model => model.Org_Type, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Org_Type, new { htmlAttributes = new { @class = "form-control" }, placeholder = "Enter Organisation Type", required = "required" })
                @Html.ValidationMessageFor(model => model.Org_Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label> Enter Organisation Contact Number:</label>
            @*@Html.LabelFor(model => model.Org_ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Org_ContactNumber, new { htmlAttributes = new { @class = "form-control" }, placeholder = "Enter Organisation Contact Number", required = "required" })
                @Html.ValidationMessageFor(model => model.Org_ContactNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label> Enter Organisation Fax Number:</label>
            @*@Html.LabelFor(model => model.Org_FaxNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Org_FaxNumber, new { htmlAttributes = new { @class = "form-control" }, placeholder = "Enter Organisation Fax Number", required = "required" })
                @Html.ValidationMessageFor(model => model.Org_FaxNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label> Enter Organisation Email Address:</label>
            @*@Html.LabelFor(model => model.Org_Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Org_Email, new { htmlAttributes = new { @class = "form-control" }, placeholder = "Enter Organisation Email Address", required = "required" })
                @Html.ValidationMessageFor(model => model.Org_Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" name="button" value="Cancel" class="btn btn-warning">Cancel</button>
                <button type="submit" name="button" value="Save" class="btn btn-success float-right">Save</button>
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
