@model AdoptifySystem.Mecidal_Card

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="" style="text-align:center;padding-left:120px">
        <div class="col-sm-10" style='background-color: #2ba6cb'>
            <h1 style='color:white'>Add Medical Card</h1>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Medical Card Details</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2" title = "Select Desired Animal">Animal:</label>
        <div class="col-md-10">
            @Html.DropDownList("Animal_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Animal_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" title = "Enter Daignosis Details">Daignosis Details:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Diagnosis_Details, new { htmlAttributes = new { @class = "form-control" }, required = "required" ,  placeholder = "Enter Daignosis Details" })
            @Html.ValidationMessageFor(model => model.Diagnosis_Details, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" title = "Select Vet Appointment">Vet Appointment:</label>
        <div class="col-md-10">
            @Html.DropDownList("Vet_Appoint_Line_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Vet_Appoint_Line_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"  title = "Select Arriaval From Vet Date">Arrival From Vet Date:</label><br />
        <div class="col-md-10">
            <input type="date" name="date" id="ArrivalDate" required="required" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" title = "Select Next Appointment Date">Next Appointment Date:</label><br />
            <div class="col-md-10">
                <input type="date" name="date" />
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2" title = "Does the Animal have a Treatment?">Animal Treatment:</label>
            <div class="col-md-10">
                <div class="checkbox" title = "True" required>
                    @Html.EditorFor(model => model.Animal_Treatment)
                    @Html.ValidationMessageFor(model => model.Animal_Treatment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back", "Index", "Mecidal_Card", null, new { @class = "btn btn-primary glyphicon glyphicon-circle-arrow-left", @Title = "Click to go Back" })
                <input type="submit" value="Create" class="btn btn-success" style="float:right" title="Click to Save New Medical Card" />
            </div>
        </div>
    </div>
    }

   
   </div>

<script>
     var today = new Date();

    document.getElementById("ArrivalDate").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);

</script>