@model IEnumerable<AdoptifySystem.Mecidal_Card>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="main">
        <div class="" style="text-align:center;padding-left:120px">
            <div class="col-sm-10" style='background-color: #2ba6cb'>
                <h1 style="color:white">Medical Card</h1>
            </div>
        </div>

        <p>
            @Html.ActionLink("Add Medical Card", "Create", null, new { @style = "color: # fff" }, new { @class = "btn btn-success", @Title = "Click to Add New Vet Appoinment" })
        </p>
        <p>
            @Html.ActionLink("Upload/Download Medical Cards", "FileView", "MedCardFile", null, new { @class = "btn btn-warning glyphicon glyphicon-remove-sign" , @Title = "Click to go Upload/Download Medical Cards"})
        </p>

        @using (Html.BeginForm("SearchMedicalCard", "Donations", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-5">
                    <h4><span style="font-weight:bold">Search Criteria:<span class="label label-default"></span></span></h4>
                    @Html.TextBox("search", "", new { @name = "txtSearch", @autocomplete = "off", @placeholder = "Search Criteria", @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="submit" value="Search" class="btn btn-primary">Search</button>
                </div>
            </div>
        }
        <br />
        <table class="table table-bordered">
            <tr class="table-primary">
                <th>
                    Vet Appointment
                </th>
                <th>
                    Diagnosis Details
                </th>
                <th>
                    Arrival from Vet
                </th>
                <th>
                    Next Appointment Date
                </th>

                <th>
                    Animal Treatment
                </th>
                <th>
                    Animal Name
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>

            @if (Model == null)
            {
                <tr>
                    <td colspan="8">
                        No results found
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vet_Appoint_Line_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diagnosis_Details)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Arrival_from_Vet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Next_Appointment_Date_)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Animal_Treatment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Animal.Animal_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vet_Appointment_Master.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Mecidal_Card", new { id = item.Id }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" , @Title = "Click to go Update Medical Card Details"})
                            @Html.ActionLink("Delete", "Delete", "Mecidal_Card", new { id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash", @Title = "Click to go Delete Medical Card Details" })
                        </td>
                    </tr>
                }
            }

        </table>
        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-warning glyphicon glyphicon-remove-sign", @Title = "Click to go Back to Home" })
        @Html.ActionLink("Refresh", "Index", "Mecidal_Card", null, new { @class = "btn btn-primary glyphicon glyphicon-refresh", @Title = "Click to Refresh this page" })
    </div>


@section scripts{
    <script>
        $(function () {
                    var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                        alertify.success(successMessage);
                });
         $(function () {
                    var successMessage = '@TempData["EditMessage"]'
            if (successMessage != '')
                        alertify.warning(successMessage);
                });
        $(function () {
                    var successMessage = '@TempData["DeleteMessage"]'
            if (successMessage != '')
                        alertify.error(successMessage);
        });
        $(function () {
            var successMessage = '@TempData["DeleteErrorMessage"]'
            if (successMessage != '')
                alertify.warning(successMessage);
         });

        @*function Delete(id) {
            alertify.confirm('Web Api CRUD Operations','Are You Sure to Delete this Record ?',function(){
                window.location.href  = '@Url.Action("Delete","Employee")/'+id;
            },null );
        }*@
    </script>
}